@model List<IGrouping<ShoeEcommers.LogicLayer.Modelos.GroupsSkusFront, ShoeEcommers.LogicLayer.Entities.Skus>>
@{
    ViewBag.Title = "Campaign";
}



      <div class="clickoneroWrapper">
        <div class="clickoneroFilter">
          <aside>
            <div class="clickoneroFilter-item">
              <h3>PRODUCTOS</h3>
              <div class="clickoneroFilter-div">
                <input type="checkbox" checked="checked" class="clickoneroCheckbox-filter">
                <label>Ropa</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Calzado y Accesorios</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Deportes</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Hogar</label>
              </div>
            </div>
            <div class="clickoneroFilter-item">
              <h3>MARCA</h3>
              <div class="clickoneroFilter-div">
                <input type="checkbox" checked="checked" class="clickoneroCheckbox-filter">
                <label>Nike</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Reebok</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Puma</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Adidas</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>New Balance</label>
              </div>
            </div>
            <div class="clickoneroFilter-item">
              <h3>TALLAS</h3>
              <div class="clickoneroFilter-div">
                <input type="checkbox" checked="checked" class="clickoneroCheckbox-filter">
                <label>Talla 25</label>
                <input type="checkbox" checked="checked" class="clickoneroCheckbox-filter">
                <label>Talla 26</label>
                <input type="checkbox" checked="checked" class="clickoneroCheckbox-filter">
                <label>Talla 27</label>
                <input type="checkbox" checked="checked" class="clickoneroCheckbox-filter">
                <label>Talla 28</label>
                <input type="checkbox" checked="checked" class="clickoneroCheckbox-filter">
                <label>Talla 29</label>
                <input type="checkbox" checked="checked" class="clickoneroCheckbox-filter">
                <label>Talla 30</label>
                <input type="checkbox" checked="checked" class="clickoneroCheckbox-filter">
                <label>Talla 31</label>
                <input type="checkbox" checked="checked" class="clickoneroCheckbox-filter">
                <label>Talla 32</label>
              </div>
            </div>
            <div class="clickoneroFilter-item">
              <h3>COLOR</h3>
              <div class="clickoneroFilter-div">
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Azul</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Negro</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Gris</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Rojo</label>
              </div>
            </div>
            <div class="clickoneroFilter-item">
              <h3>TIPO</h3>
              <div class="clickoneroFilter-div">
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Bra Tops</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Hoodies</label>
              </div>
            </div>
            <div class="clickoneroFilter-item">
              <h3>ORDENAR POR</h3>
              <div class="clickoneroFilter-div"><a href="#">Por precio, menor a mayor</a><a href="#">Por precio, mayor a menor</a></div>
            </div>
            <div class="clickoneroFilter-item">
              <h3>RANGO DE PRECIOS</h3>
              <div class="clickoneroFilter-div">
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Hasta $199</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Hasta $299</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Hasta $399</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Hasta $499</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Hasta $599</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Hasta $699</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Hasta $799</label>
                <input type="checkbox" class="clickoneroCheckbox-filter">
                <label>Hasta $899</label>
              </div>
            </div>
          </aside>
        <div class="clickoneroFilter-products">
           
        @foreach (var item in Model)
        {
            <div class="clickoneroFP-item">
                <div class="clickoneroFP-image"><a href="/Products/Details/@item.First().IdProduct">
                        <img src="//@item.First().Thumbnail" alt="Leggings 4">
                    </a>
                    <div class="clickoneroFP-overlay">
                        <div class="clickoneroFP-productSize">
                            @foreach (var sku in item)
                            {
                                <input type="radio" name="ckSize" value="@sku.Sku">
                            }
                            <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                            <p class="clickoneroError">Por favor escoja una talla</p>
                        </div>
                    </div>
                </div>
                <h3>Denim look leggings</h3>
                <h4>@item.First().Products.Name</h4>
                <span class="clickoneroFP-actualPrice">@item.First().Price</span>
                <span class="clickoneroFP-listPrice">@item.First().ListPrice</span>
                <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="clickoneroIcon clickoneroWinbits12px"></em>
                    <label>307</label>
                </div>
            </div>
        }

 @foreach (var item in Model)
 {
     
     <div class="clickoneroFP-item">
         <div class="clickoneroFP-image"><a href="#"><img src="/clickoneroInclude/images/assets/leggings5.jpg" alt="Leggings 5"></a>
             <div class="clickoneroFP-overlay">
                 <div class="clickoneroFP-productSize">
                     <input type="radio" name="ckSize" value="XS" data-soldout="true">
                     <input type="radio" name="ckSize" value="S">
                     <input type="radio" name="ckSize" value="M">
                     <input type="radio" name="ckSize" value="L">
                     <input type="radio" name="ckSize" value="XL">
                     <input type="radio" name="ckSize" value="XXXL">
                     <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                     <p class="clickoneroError">Por favor escoja una talla</p>
                 </div>
             </div>
         </div>
         <h3>Denim look leggings</h3>
         <h4>Pull &amp; Bear</h4><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
         <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="clickoneroIcon clickoneroWinbits12px"></em>
             <label>307</label>
         </div>
     </div>
 }

        <div class="clickoneroFP-item">
            <div class="clickoneroFP-image"><a href="#"><img src="/clickoneroInclude/images/assets/leggings6.jpg" alt="Leggings 6"></a>
                <div class="clickoneroFP-overlay">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <p class="clickoneroError">Por favor escoja una talla</p>
                    </div>
                </div>
            </div>
            <h3>Denim look leggings</h3>
            <h4>Pull &amp; Bear</h4><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="clickoneroIcon clickoneroWinbits12px"></em>
                <label>307</label>
            </div>
        </div>
        <div class="clickoneroFP-item">
            <div class="clickoneroFP-image"><a href="#"><img src="/clickoneroInclude/images/assets/leggings7.jpg" alt="Leggings 7"></a>
                <div class="clickoneroFP-overlay">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <p class="clickoneroError">Por favor escoja una talla</p>
                    </div>
                </div>
            </div>
            <h3>Denim look leggings</h3>
            <h4>Pull &amp; Bear</h4><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="clickoneroIcon clickoneroWinbits12px"></em>
                <label>307</label>
            </div>
        </div>
        <div class="clickoneroFP-item">
            <div class="clickoneroFP-image"><a href="#"><img src="/clickoneroInclude/images/assets/leggings8.jpg" alt="Leggings 8"></a>
                <div class="clickoneroFP-overlay">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <p class="clickoneroError">Por favor escoja una talla</p>
                    </div>
                </div>
            </div>
            <h3>Denim look leggings</h3>
            <h4>Pull &amp; Bear</h4><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="clickoneroIcon clickoneroWinbits12px"></em>
                <label>307</label>
            </div>
        </div>
        <div class="clickoneroFP-item">
            <div class="clickoneroFP-image"><a href="#"><img src="/clickoneroInclude/images/assets/leggings9.jpg" alt="Leggings 9"></a>
                <div class="clickoneroFP-overlay">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <p class="clickoneroError">Por favor escoja una talla</p>
                    </div>
                </div>
            </div>
            <h3>Denim look leggings</h3>
            <h4>Pull &amp; Bear</h4><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="clickoneroIcon clickoneroWinbits12px"></em>
                <label>307</label>
            </div>
        </div>
        <div class="clickoneroFP-item">
            <div class="clickoneroFP-image"><a href="#"><img src="/clickoneroInclude/images/assets/leggings10.jpg" alt="Leggings 10"></a>
                <div class="clickoneroFP-overlay">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <p class="clickoneroError">Por favor escoja una talla</p>
                    </div>
                </div>
            </div>
            <h3>Denim look leggings</h3>
            <h4>Pull &amp; Bear</h4><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="clickoneroIcon clickoneroWinbits12px"></em>
                <label>307</label>
            </div>
        </div>
        <div class="clickoneroFP-item">
            <div class="clickoneroFP-image"><a href="#"><img src="/clickoneroInclude/images/assets/leggings11.jpg" alt="Leggings 11"></a>
                <div class="clickoneroFP-overlay">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <p class="clickoneroError">Por favor escoja una talla</p>
                    </div>
                </div>
            </div>
            <h3>Denim look leggings</h3>
            <h4>Pull &amp; Bear</h4><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="clickoneroIcon clickoneroWinbits12px"></em>
                <label>307</label>
            </div>
        </div>
        <div class="clickoneroFP-item">
            <div class="clickoneroFP-image"><a href="#"><img src="/clickoneroInclude/images/assets/leggings12.jpg" alt="Leggings 12"></a>
                <div class="clickoneroFP-overlay">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <p class="clickoneroError">Por favor escoja una talla</p>
                    </div>
                </div>
            </div>
            <h3>Denim look leggings</h3>
            <h4>Pull &amp; Bear</h4><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="clickoneroIcon clickoneroWinbits12px"></em>
                <label>307</label>
            </div>
        </div>
        <div class="clickoneroFP-item">
            <div class="clickoneroFP-image"><a href="#"><img src="/clickoneroInclude/images/assets/leggings13.jpg" alt="Leggings 13"></a>
                <div class="clickoneroFP-overlay">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <p class="clickoneroError">Por favor escoja una talla</p>
                    </div>
                </div>
            </div>
            <h3>Denim look leggings</h3>
            <h4>Pull &amp; Bear</h4><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="clickoneroIcon clickoneroWinbits12px"></em>
                <label>307</label>
            </div>
        </div>
        <div class="clickoneroFP-item">
            <div class="clickoneroFP-image"><a href="#"><img src="/clickoneroInclude/images/assets/leggings14.jpg" alt="Leggings 14"></a>
                <div class="clickoneroFP-overlay">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <p class="clickoneroError">Por favor escoja una talla</p>
                    </div>
                </div>
            </div>
            <h3>Denim look leggings</h3>
            <h4>Pull &amp; Bear</h4><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="clickoneroIcon clickoneroWinbits12px"></em>
                <label>307</label>
            </div>
        </div>
        </div>
        </div>
      </div>

    

@section scripts
{
    <script>
    (function(){
      	$('.clickoneroFilter-div').customCheckbox();
      	$('.clickoneroFP-productSize').customRadio();
      	$('.clickoneroFilter-div').resizeFilter();
      	$('.products-carrusel').carouselSwiper({
      		optionsSwiper: {
      			slideClass: 'products-slide',
      			wrapperClass: 'products-wrapper',
      			grabCursor: true,
      			loop: true,
      			slidesPerView: 5,
      			onSlideClick: function(swiper){
      				$('.clickoneroFP-productSize').customRadio({justClick: true});
      			},
      			onSwiperCreated: function(swiper){
      				$(swiper.activeSlide()).find('.clickoneroFP-overlay').trigger('click');
      				$(swiper.activeSlide()).find('.clickoneroToolTip').trigger('mouseover');
      			}
      		},
      		arrowLeft: '.iconFont-left',
      		arrowRight: '.iconFont-right',
      		loop: true,
      		slideCSS: '.products-slide',
      		calculateHeight: true,
      		slidesNum: 5
      	});
      	$('.iconBlock').point();
      	DocumentReady();
    })();
    </script>
}