<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link rel="shortcut icon" href="/clickoneroInclude/images/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/clickoneroInclude/images/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="http://wbf.winbits.com/css/winbits.css">
    <link rel="stylesheet" href="/clickoneroInclude/include/css/style.css?v=1.1">
    <link rel="stylesheet" href="/clickoneroInclude/include/css/mediaqueri.css">
        <link rel="author" href="/clickoneroInclude/humans.txt">



      

<script src="~/clickoneroInclude/include/js/libs/modernizr-2.6.2.js"></script>
<script src="~/clickoneroInclude/include/js/libs/jquery-1.8.3.min.js"></script>
<script src="~/clickoneroInclude/include/js/libs/jquery.browser.min.js"></script>

<link href="~/clickoneroInclude/include/js/libs/jQueryUI1.9.2/jquery-ui-1.9.2.custom.min.css" rel="stylesheet">
<script src="~/clickoneroInclude/include/js/libs/jQueryUI1.9.2/jquery-ui-1.9.2.custom.min.js"></script>
<script src="~/clickoneroInclude/include/js/libs/jQueryUI1.9.2/jquery-ui-datepicker-es.js"></script>
<link href="~/clickoneroInclude/include/js/libs/jscrollpane/jquery.jscrollpane.css" rel="stylesheet">
<script src="~/clickoneroInclude/include/js/libs/jscrollpane/jquery.mousewheel.js"></script>
<script src="~/clickoneroInclude/include/js/libs/jscrollpane/jquery.jscrollpane.min.js"></script>

<script src="~/clickoneroInclude/include/js/libs/swiper/idangerous.swiper.min.js"></script>
<script src="~/clickoneroInclude/include/js/libs/swiper/idangerous.swiper.scrollbar-2.1.js"></script>

<script src="~/clickoneroInclude/include/js/libs/fancybox/jquery.fancybox.js?v=2.1.5"></script>
<link href="~/clickoneroInclude/include/js/libs/fancybox/jquery.fancybox.css?v=2.1.5" rel="stylesheet">
<script src="~/clickoneroInclude/include/js/libs/zoom/jquery.zoom.js"></script>



    </head>
<body class="ck-agosto2015">
     <header>
      <div class="clickoneroWrapper wb-header-wrapper">
        <div class="ck-main-header">
          <div class="ck-header-top">
            <div class="clickoneroWrapper">
                <div class="ck-header-logo"><a href="#"><span class="iconFont-o"></span>
                    <span class="iconFont-clicknero"></span></a></div>
              <div class="ck-header-nav">
                <ul>
                  <li><a href="google.com">Productos</a></li>
                  <li><a href="google.com">Viajes</a></li>
                  <li><a href="google.com">Cupones</a></li>
                    <li><a href="#">Gana $ <span class="iconFont-bit"></span></a></li>
                    <li>
                        <a href="/Checkecout/index">Ir a carrito de compra  </a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="ck-header-bottom">
            <div class="clickoneroWrapper">
              <div class="ck-header-pagetitle">Estrenos</div>
              <div class="ck-header-search">
                <input type="text"><span class="iconFont-lupa"></span>
              </div>
              <div class="ck-header-sales">
                <h2 class="ck-sales-title">Ventas por teléfono:</h2>
                <div class="ck-sales-phone"><span class="iconFont-phoneHear"></span><span class="ck-sales-text">4160-0550</span><span class="ck-sales-text">|</span><a href="maito:showecommers@winbits.com" class="ck-sales-text">showecommers@winbits.com</a></div>
              </div>
            </div>
          </div>
        </div>
        <div data-wbh-current="4" id="winbits-widget" class="widgetWinbitsHeader">
          <link rel="stylesheet" href="http://d2jw2cyi8xrpa4.cloudfront.net/css/hw-styles.min.css">
          <link rel="stylesheet" href="http://d2jw2cyi8xrpa4.cloudfront.net/js/fancybox/jquery.fancybox.min.css">
          <div class="knowmoreFolder">
            <div class="wrapper">
              <div class="knowMoreMax"><span class="icon winbits22px">Logo Winbits</span>
                <div class="knowMoreMax-item item1">
                  <div class="knowMoreMax-icons"><a target="_blank" href="http://www.clickonero.com.mx" class="iconFont-clickOnero"></a><a target="_blank" href="http://www.bebitos.mx" class="iconFont-bebitos"></a></div>
                  <h2>VARIAS TIENDAS</h2>
                  <p>Nos hemos asociado con sitios especializados para ofrecerte los mejores productos a los mejores precios.</p>
                </div>
                <div class="knowMoreMax-item item2">
                  <div class="knowMoreMax-icons iconFont-cart"></div>
                  <h2>UNA SOLA CUENTA</h2>
                  <p>Para hacertelo todavía más fácil puedes utilizar tu cuenta winbits y sumar productos a un mismo carrito sin importar en que sitio estés.</p>
                </div>
                <div class="knowMoreMax-item item3">
                  <div class="knowMoreMax-icons"></div><img alt="" src="http://wbf.winbits.com/img/iconTop2.png">
                  <h2>CON TUS COMPRAS GANAS WINBITS</h2>
                  <p>Con todas tus compras podrás ganar winbits que puedes usar como dinero electrónico en compras futuras.</p>
                </div>
                <div class="knowMoreMax-buttons"><span class="wb-video wb-buttons">VE NUESTRO VIDEO<span class="iconFont-video"></span></span><span class="wb-wait wb-buttons">REGISTRATE AHORA<span class="iconFont-candado"></span></span></div><span class="iconFont-upbanner">openClose(data-hidediv=".knowMoreMax", data-showdiv=".knowMoreMin")</span>
              </div>
              <div class="knowMoreMin">
                <p>¡Compra en nuestro sitio y gana! <a href="#" class="wb-wait">Conoce más</a><span data-hidediv=".knowMoreMin" data-showdiv=".knowMoreMax" class="iconFont-downbanner openClose"></span></p>
                <div class="language"><a href="#">
                    <div class="winbits-white iconWinbit75px"><span class="iconFont-bit firstI"></span><span class="iconFont-bit secondI"></span><span class="iconFont-winbits"></span><span class="iconFont-circle firstI"></span><span class="iconFont-circle secondI"></span></div></a></div>
              </div>
            </div>
          </div>
          <div class="mainHeader">
            <div class="wrapper">
              <nav>
                <ul>
                  <li><a title="Invita Amigos" href="http://www.winbits.com" class="iconVertical-n vertical12 wbc-vertical"></a></li>
                  <li><a title="clickOnero" href="http://www.clickonero.com.mx" class="iconVertical-n vertical4 wbc-vertical current"></a></li>
                  <li><a title="Bebitos" href="http://bebitos.mx" class="iconVertical-n vertical11 wbc-vertical"></a></li>
                </ul>
              </nav>
              <div class="miCuenta">
                <ul>
                  <li id="wbi-my-account-container"><span id="wbi-my-account-link" class="spanDropMenu link">Mi Cuenta<span class="icon trigger triggerMiCuenta"></span></span>
                    <div id="wbi-my-account-div" style="display:none" class="dropMenu miCuentaDiv"><span class="icon triangle"></span>
                      <div class="wrapper">
                        <div class="miCuenta-tabs">
                          <ul class="miCuenta-linktabs">
                            <li class="tabSelected"><a href="#wb-micuenta-profile">MI PERFIL</a></li>
                            <li><a href="#wb-micuenta-address">DIRECCIÓN DE ENVIO</a></li>
                            <li><a href="#wb-micuenta-creditcard">TARJETAS DE CRÉDITO</a></li>
                            <li><a href="#wb-micuenta-mailing">MAILING</a></li>
                            <li><a href="#wb-micuenta-favorites">FAVORITOS</a></li>
                            <li><a href="#wb-micuenta-wishlist">LISTA DE ESPERA</a></li>
                            <li><a href="#wb-micuenta-history">HISTORIAL DE TU CUENTA</a></li>
                          </ul>
                          <div class="miCuenta-logout">
                            <input type="submit" value="Cerrar Sesión" class="btn">
                          </div>
                          <div id="wb-micuenta-profile" class="miCuenta-tab wb-micuenta-profile">
                            <div class="column miCuenta-profile">
                              <form id="miCuenta-profile" accept-charset="utf-8" action="#" method="post">
                                <h3>DATOS PERSONALES</h3><span class="dataGreen">Completa tu registro y gana <br> 10 winbits</span>
                                <input type="text" placeholder="Nombre" value="Raúl" data-requiredfield="Nombre Requerido" class="requiredField errorInputError"><span class="errorInputError">Campo requerido</span>
                                <input type="text" placeholder="Apellido" value="Sotomayor" data-requiredfield="Apellido Requerido" class="requiredField">
                                <input type="text" placeholder="Correo Electrónico" value="rulas1785@gmail.com" data-requiredfield="Correo Requerido" class="requiredField">
                                <div data-requiredfield="Fecha de Nacimiento Requerido" class="divBirthday requiredField">
                                  <label>Cumpleaños</label>
                                  <input type="text" placeholder="dd" maxlength="2">
                                  <input type="text" placeholder="mm" maxlength="2">
                                  <input type="text" placeholder="aa" maxlength="2">
                                </div>
                                <div data-requiredfield="Género Requerido" class="divGender requiredField">
                                  <label>Género</label>
                                  <input type="radio" value="H" checked="checked" name="genderRadio">
                                  <input type="radio" value="M" name="genderRadio">
                                </div>
                                <input type="text" placeholder="Código Postal">
                                    <select data-clase="selectRegister" class="clickoneroSelect">
                                      <option>Colonia/Asentamiento</option>
                                      <option>Lomas de Chapultepec Lorem Ipsum Lorem Lorem</option>
                                      <option selected="selected">México, D.F.</option>
                                      <option>Guadalajara</option>
                                    </select>
                                <input type="text" placeholder="Tel. Celular (10 dígitos)">
                                <div class="errorDiv">
                                  <p>Email no existe, favor de verificarlo</p>
                                </div>
                                <input type="submit" value="Guardar" class="btn editBtn">
                              </form>
                            </div>
                            <div class="column micuenta-mobile">
                              <form id="miCuenta-mobile" accept-charset="utf-8" action="#" method="post">
                                <h3>VERIFICACIÓN MÓVIL</h3>
                                <p>Para poder participar en nuestras promociones, ingresa el código que te hemos enviado al tu celular para confirmar la autenticidad de tu cuenta.</p>
                                <input type="text" placeholder="Código">
                                <input type="submit" value="Validar código" class="btn editBtn">
                                <p>Si necesitas que te enviemos el código de nuevo <a href="#"> haz click aquí</a>.</p>
                                <p>Si quieres cambiar tu teléfono, modifícalo en tus datos personales y haz click en Guardar, el código se enviará de nuevo a tu celular.</p>
                              </form>
                            </div>
                            <div class="column miCuenta-password">
                              <form id="miCuenta-password" accept-charset="utf-8" action="#" method="post">
                                <h3>CAMBIAR PASSWORD</h3>
                                <input type="password" placeholder="Password Actual">
                                <input type="password" placeholder="Nuevo Password">
                                <input type="password" placeholder="Confirmar Nuevo Password">
                                <div class="errorDiv">
                                  <p>Email no existe, favor de verificarlo</p>
                                </div>
                                <input type="submit" value="Guardar" class="btn editBtn">
                              </form>
                            </div>
                            <div class="column">
                              <h3>REDES SOCIALES</h3>
                              <p><a href="#"><span class="iconFont-facebookCircle icon-black"></span>Liga tu cuenta de facebook</a></p>
                              <p><a href="#"><span class="iconFont-twitterCircle icon-black"></span>Liga tu cuenta de twitter</a></p>
                              <p><a href="#"><span class="iconFont-facebookCircle icon-blueFB"></span>Quita tu cuenta de facebook</a></p>
                              <p><a href="#"><span class="iconFont-facebookCircle icon-blueTW"></span>Quita tu cuenta de twitter</a></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="bits">6575<a href="#"> <em class="iconBit bit18px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em></a></li>
                  <li>
                    <div data-cart="true" class="spanDropMenu">0<span class="iconFont-cart wb-wait"></span></div>
                    <div style="display: none" class="dropMenu miCarritoDiv mc-noitems-container">
                      <div class="mc-noitems-arrow"></div>
                      <div class="wrapper">
                        <div class="mc-noitems-div"><span class="mc-noitems-icon"></span><span class="mc-noitems-content">No tienes productos en tu carrito</span></div>
                      </div>
                    </div>
                  </li>
                  <li><span class="wb-wait btn btnTopNav">Entrar</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
<main class="clickoneroMain widgetWinbitsMain">
    <div class="clickoneroWrapper">
    @RenderBody()
        </div>
</main>

<script src="/clickoneroInclude/include/js/script.js"></script>

    @RenderSection("scripts", false)


<footer>
      <div class="clickoneroWrapper">
        <div class="clickoneroFooter-logos"><a href="#" class="iconFont-clickOnero"></a><span>Es un sitio de la familia winbits</span>
          <ul>
            <li><a href="#" title="Facebook" class="iconFont-facebookCircle"></a></li>
            <li><a href="#" title="Twitter" class="iconFont-twitterCircle"></a></li>
            <li><a href="#" title="Pinterest" class="iconFont-pinterestCircle"></a></li>
          </ul>
          <p><a href="mailto: shoecommers@winbits.com" class="footer-linkmail">shoecommers@winbits.com</a></p>
          <p>4160 - 0550</p>
        </div>
        <div class="clickoneroFooter-links">
          <h2>Atención a Clientes</h2>
          <ul>
            <li><a href="faq.html">FAQ's</a></li>
            <li><a href="faq.html#faq4">Plazos de entrega</a></li>
            <li><a href="faq.html#faq3">¿Cómo comprar?</a></li>
            <li><a href="devoluciones.html">Devoluciones</a></li>
            <li><a href="terminos.html">Términos y condiciones</a></li>
            <li><a href="politicas.html">Políticas de Privacidad</a></li>
          </ul>
        </div>
        <div class="clickoneroFooter-links clickoneroFooter-clickonero">
          <div class="clickoneroFooter-category">
            <h2>Categorías</h2>
            <ul>
              <li><a href="#">Mujer</a></li>
              <li><a href="#">Hombre</a></li>
              <li><a href="#">Infantiles</a></li>
              <li><a href="#">Tecnología</a></li>
              <li><a href="#">Hogar</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Viajes</a></li>
            </ul>
          </div>
          <div class="clickoneroFooter-brands">
            <h2>Búsquedas favoritas</h2>
            <ul>
              <li><a href="#">Ropa de moda</a></li>
              <li><a href="#">Ropa deportiva</a></li>
              <li><a href="#">Ropa para Bebé</a></li>
              <li><a href="#">Tenis</a></li>
              <li><a href="#">Tenis Nike</a></li>
              <li><a href="#">Tenis Adidas</a></li>
              <li><a href="#">Tenis Puma</a></li>
              <li><a href="#">Vestidos de Moda</a></li>
              <li><a href="#">Zapatos</a></li>
              <li><a href="#">Zapatos Flexi</a></li>
              <li><a href="#">Tommy Hilfiger</a></li>
              <li><a href="#">Lacoste</a></li>
              <li><a href="#">Pepe Jeans</a></li>
              <li><a href="#">Swarovsky</a></li>
              <li><a href="#">Viajes a la playa</a></li>
              <li><a href="#">Acapulco</a></li>
              <li><a href="#">Cancún</a></li>
              <li><a href="#">Riviera Maya</a></li>
              <li><a href="#">Obras de teatro</a></li>
              <li><a href="#">Cinepolis</a></li>
              <li><a href="#">Boletos de cine</a></li>
              <li><a href="#">Computadoras con descuento</a></li>
              <li><a href="#">Videojuegos</a></li>
              <li><a href="#">Electrodomésticos</a></li>
              <li><a href="#">Celulares con descuento</a></li>
              <li><a href="#">Televisiónes</a></li>
              <li><a href="#">Samsung</a></li>
              <li><a href="#">Sharp</a></li>
              <li><a href="#">Descuentos</a></li>
              <li><a href="#">Hot Sale</a></li>
              <li><a href="#">Buen Fin</a></li>
              <li><a href="#">Buen Noviembre</a></li>
              <li><a href="#">Cupones</a></li>
              <li><a href="#">Remates</a></li>
              <li><a href="#">Promociones</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
</body>
</html>
