head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	meta(name="description", content="")
	//- meta(name="viewport", content="width=device-width, initial-scale=1.0")
	//- noscript
		meta(http-equiv="Refresh" content="0;URL='clickoneroInclude/disabledJavaScript.html'")
	title clickOnero
	link(rel="shortcut icon", href="clickoneroInclude/images/favicon.ico", type="image/vnd.microsoft.icon")
	link(rel="icon", href="clickoneroInclude/images/favicon.ico", type="image/vnd.microsoft.icon")
	link(rel="stylesheet", href="http://wbf.winbits.com/css/winbits.css")
	link(rel="stylesheet", href="clickoneroInclude/include/css/style.css")
	link(rel="stylesheet", href="clickoneroInclude/include/css/mediaqueri.css")
	link(rel="author", href="clickoneroInclude/humans.txt")
	script(src="clickoneroInclude/include/js/libs.js")
	//- script(src="http://wfiles.winbits.com/js/hw-script.min.js")
	//- script(type="text/javascript", src="http://widgets.winbits.com/staging/winbits.js", data-vertical="1")
	link(rel="stylesheet", type="text/css", href="http://wb.widget.winbits.com.s3.amazonaws.com/prodGA/stylesheets/winbits/app.css")
	include mixins.jade