@{
    ViewBag.Title = "Home Page";
}


<div class="clickoneroWrapper clickoneroHome">
<div class="clickoneroHome-banner">
    <div class="clickoneroHB-carrusel">
        <div class="clickoneroHB-wrapper">
            <div class="clickoneroHB-slide"><a href="#"><img src="" alt=""></a>
                <div></div>
            </div>
            <div class="clickoneroHB-slide"><a href="#"><img src="clickoneroInclude/images/assets/bannerAmor.jpg" alt="Banner bannerAmor"></a>
                <div><a href="#" data-tooltip="Camisa cuadros Hombre" data-top="90" data-left="414" style="color: #000" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Tenis Nike Hombre" data-top="170" data-left="550" style="color: #000" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Chaleco Azul Mujer" data-top="103" data-left="281" style="color: #fff" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Tenis Nike Mujer" data-top="200" data-left="335" style="color: #f00" class="iconBlock iconFont-cruz clickoneroToolTip"></a>
                </div>
            </div>
            <div class="clickoneroHB-slide"><a href="#"><img src="clickoneroInclude/images/assets/benettonHome.jpg" alt="Banner benettonHome"></a>
                <div><a href="#" data-tooltip="Camisa cuadros Hombre" data-top="90" data-left="414" style="color: #000" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Tenis Nike Hombre" data-top="170" data-left="550" style="color: #000" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Chaleco Azul Mujer" data-top="103" data-left="281" style="color: #fff" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Tenis Nike Mujer" data-top="200" data-left="335" style="color: #f00" class="iconBlock iconFont-cruz clickoneroToolTip"></a>
                </div>
            </div>
            <div class="clickoneroHB-slide"><a href="#"><img src="clickoneroInclude/images/assets/bannerAmor.jpg" alt="Banner bannerAmor"></a>
                <div><a href="#" data-tooltip="Camisa cuadros Hombre" data-top="90" data-left="414" style="color: #000" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Tenis Nike Hombre" data-top="170" data-left="550" style="color: #000" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Chaleco Azul Mujer" data-top="103" data-left="281" style="color: #fff" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Tenis Nike Mujer" data-top="200" data-left="335" style="color: #f00" class="iconBlock iconFont-cruz clickoneroToolTip"></a>
                </div>
            </div>
            <div class="clickoneroHB-slide"><a href="#"><img src="clickoneroInclude/images/assets/benettonHome.jpg" alt="Banner benettonHome"></a>
                <div><a href="#" data-tooltip="Camisa cuadros Hombre" data-top="90" data-left="414" style="color: #000" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Tenis Nike Hombre" data-top="170" data-left="550" style="color: #000" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Chaleco Azul Mujer" data-top="103" data-left="281" style="color: #fff" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Tenis Nike Mujer" data-top="200" data-left="335" style="color: #f00" class="iconBlock iconFont-cruz clickoneroToolTip"></a>
                </div>
            </div>
            <div class="clickoneroHB-slide"><a href="#"><img src="clickoneroInclude/images/assets/bannerAmor.jpg" alt="Banner bannerAmor"></a>
                <div><a href="#" data-tooltip="Camisa cuadros Hombre" data-top="90" data-left="414" style="color: #000" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Tenis Nike Hombre" data-top="170" data-left="550" style="color: #000" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Chaleco Azul Mujer" data-top="103" data-left="281" style="color: #fff" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Tenis Nike Mujer" data-top="200" data-left="335" style="color: #f00" class="iconBlock iconFont-cruz clickoneroToolTip"></a>
                </div>
            </div>
            <div class="clickoneroHB-slide"><a href="#"><img src="clickoneroInclude/images/assets/benettonHome.jpg" alt="Banner benettonHome"></a>
                <div><a href="#" data-tooltip="Camisa cuadros Hombre" data-top="90" data-left="414" style="color: #000" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Tenis Nike Hombre" data-top="170" data-left="550" style="color: #000" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Chaleco Azul Mujer" data-top="103" data-left="281" style="color: #fff" class="iconBlock iconFont-cruz clickoneroToolTip"></a><a href="#" data-tooltip="Tenis Nike Mujer" data-top="200" data-left="335" style="color: #f00" class="iconBlock iconFont-cruz clickoneroToolTip"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="iconFontArrow iconFontArrow-prev"><span class="iconFont-left"></span><span class="iconFont-rightA"></span></div>
    <div class="iconFontArrow iconFontArrow-next"><span class="iconFont-right"></span><span class="iconFont-leftA"></span></div>
</div>
<div class="clickoneroHome-bestOffer">
    <h2>Las Mejores Ofertas de <a href="#">Productos</a>
    </h2>
    <div class="bestOffer-container">
        <div class="bestOffer-item"><a href="#"><img src="" alt=""></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="bestOffer-item"><a href="#"><img src="clickoneroInclude/images/assets/3_1.jpg" alt="Campaña 1"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="bestOffer-item"><a href="#"><img src="clickoneroInclude/images/assets/3_2.jpg" alt="Campaña 2"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="bestOffer-item"><a href="#"><img src="clickoneroInclude/images/assets/3_3.jpg" alt="Campaña 3"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="bestOffer-item"><a href="#"><img src="clickoneroInclude/images/assets/3_4.jpg" alt="Campaña 4"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="bestOffer-item"><a href="#"><img src="clickoneroInclude/images/assets/3_5.jpg" alt="Campaña 5"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="bestOffer-item"><a href="#"><img src="clickoneroInclude/images/assets/3_6.jpg" alt="Campaña 6"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="bestOffer-item"><a href="#"><img src="clickoneroInclude/images/assets/3_7.jpg" alt="Campaña 7"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="bestOffer-item"><a href="#"><img src="clickoneroInclude/images/assets/3_8.jpg" alt="Campaña 8"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
    </div>
</div>
<div class="clickoneroHome-itemVertical">
<h2>Los Más Vendidos de <a href="#">Productos</a>
</h2>
<div class="products-carrusel">
<div class="products-wrapper">
<div class="products-slide">
    <div class="clickoneroFP-item">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/.jpg" alt="Leggings undefined"></a>
            <div class="clickoneroFP-overlay">
                <div class="clickonero-scroll">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="radio" name="ckSize" value="XXXX">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <!-- p.clickoneroError Por favor escoja una talla-->
                    </div>
                </div>
            </div>
        </div>
        <h3 class="product-ck-title">Denim look leggings</h3>
        <div class="tag-div">
            <ul>
                <li><span class="tag-text">Pull &amp; Bear</span><span class="iconFont-star2 tag-icon"></span></li>
            </ul>
        </div><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
            <label>307</label>
        </div>
    </div>
</div>
<div class="products-slide">
    <div class="clickoneroFP-item">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/leggings4.jpg" alt="Leggings undefined"></a>
            <div class="clickoneroFP-overlay">
                <div class="clickonero-scroll">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="radio" name="ckSize" value="XXXX">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <!-- p.clickoneroError Por favor escoja una talla-->
                    </div>
                </div>
            </div>
        </div>
        <h3 class="product-ck-title">Denim look leggings</h3>
        <div class="tag-div">
            <ul>
                <li><span class="tag-text">Pull &amp; Bear</span><span class="iconFont-star2 tag-icon"></span></li>
            </ul>
        </div><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
            <label>307</label>
        </div>
    </div>
</div>
<div class="products-slide">
    <div class="clickoneroFP-item">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/leggings5.jpg" alt="Leggings undefined"></a>
            <div class="clickonero-sold-out">AGOTADO
            </div>
        </div>
        <h3 class="product-ck-title">Denim look leggings</h3>
        <div class="tag-div">
            <ul>
                <li><span class="tag-text">Pull &amp; Bear</span><span class="iconFont-star2 tag-icon"></span></li>
            </ul>
        </div><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
            <label>307</label>
        </div>
    </div>
</div>
<div class="products-slide">
    <div class="clickoneroFP-item">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/leggings6.jpg" alt="Leggings undefined"></a>
            <div class="clickoneroFP-overlay">
                <div class="clickonero-scroll">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="radio" name="ckSize" value="XXXX">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <!-- p.clickoneroError Por favor escoja una talla-->
                    </div>
                </div>
            </div>
        </div>
        <h3 class="product-ck-title">Denim look leggings</h3>
        <div class="tag-div">
            <ul>
                <li><span class="tag-text">Pull &amp; Bear</span><span class="iconFont-star2 tag-icon"></span></li>
            </ul>
        </div><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
            <label>307</label>
        </div>
    </div>
</div>
<div class="products-slide">
    <div class="clickoneroFP-item">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/leggings7.jpg" alt="Leggings undefined"></a>
            <div class="clickoneroFP-overlay">
                <div class="clickonero-scroll">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="radio" name="ckSize" value="XXXX">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <!-- p.clickoneroError Por favor escoja una talla-->
                    </div>
                </div>
            </div>
        </div>
        <h3 class="product-ck-title">Denim look leggings</h3>
        <div class="tag-div">
            <ul>
                <li><span class="tag-text">Pull &amp; Bear</span><span class="iconFont-star2 tag-icon"></span></li>
            </ul>
        </div><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
            <label>307</label>
        </div>
    </div>
</div>
<div class="products-slide">
    <div class="clickoneroFP-item">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/leggings8.jpg" alt="Leggings undefined"></a>
            <div class="clickoneroFP-overlay">
                <div class="clickonero-scroll">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="radio" name="ckSize" value="XXXX">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <!-- p.clickoneroError Por favor escoja una talla-->
                    </div>
                </div>
            </div>
        </div>
        <h3 class="product-ck-title">Denim look leggings</h3>
        <div class="tag-div">
            <ul>
                <li><span class="tag-text">Pull &amp; Bear</span><span class="iconFont-star2 tag-icon"></span></li>
            </ul>
        </div><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
            <label>307</label>
        </div>
    </div>
</div>
<div class="products-slide">
    <div class="clickoneroFP-item">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/leggings9.jpg" alt="Leggings undefined"></a>
            <div class="clickoneroFP-overlay">
                <div class="clickonero-scroll">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="radio" name="ckSize" value="XXXX">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <!-- p.clickoneroError Por favor escoja una talla-->
                    </div>
                </div>
            </div>
        </div>
        <h3 class="product-ck-title">Denim look leggings</h3>
        <div class="tag-div">
            <ul>
                <li><span class="tag-text">Pull &amp; Bear</span><span class="iconFont-star2 tag-icon"></span></li>
            </ul>
        </div><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
            <label>307</label>
        </div>
    </div>
</div>
<div class="products-slide">
    <div class="clickoneroFP-item">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/product1.jpg" alt="Leggings undefined"></a>
            <div class="clickoneroFP-overlay">
                <div class="clickonero-scroll">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="radio" name="ckSize" value="XXXX">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <!-- p.clickoneroError Por favor escoja una talla-->
                    </div>
                </div>
            </div>
        </div>
        <h3 class="product-ck-title">Denim look leggings</h3>
        <div class="tag-div">
            <ul>
                <li><span class="tag-text">Pull &amp; Bear</span><span class="iconFont-star2 tag-icon"></span></li>
            </ul>
        </div><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
            <label>307</label>
        </div>
    </div>
</div>
<div class="products-slide">
    <div class="clickoneroFP-item">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/product2.jpg" alt="Leggings undefined"></a>
            <div class="clickonero-sold-out">AGOTADO
            </div>
        </div>
        <h3 class="product-ck-title">Denim look leggings</h3>
        <div class="tag-div">
            <ul>
                <li><span class="tag-text">Pull &amp; Bear</span><span class="iconFont-star2 tag-icon"></span></li>
            </ul>
        </div><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
            <label>307</label>
        </div>
    </div>
</div>
<div class="products-slide">
    <div class="clickoneroFP-item">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/product3.jpg" alt="Leggings undefined"></a>
            <div class="clickoneroFP-overlay">
                <div class="clickonero-scroll">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="radio" name="ckSize" value="XXXX">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <!-- p.clickoneroError Por favor escoja una talla-->
                    </div>
                </div>
            </div>
        </div>
        <h3 class="product-ck-title">Denim look leggings</h3>
        <div class="tag-div">
            <ul>
                <li><span class="tag-text">Pull &amp; Bear</span><span class="iconFont-star2 tag-icon"></span></li>
            </ul>
        </div><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
            <label>307</label>
        </div>
    </div>
</div>
<div class="products-slide">
    <div class="clickoneroFP-item">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/product4.jpg" alt="Leggings undefined"></a>
            <div class="clickoneroFP-overlay">
                <div class="clickonero-scroll">
                    <div class="clickoneroFP-productSize">
                        <input type="radio" name="ckSize" value="XS" data-soldout="true">
                        <input type="radio" name="ckSize" value="S">
                        <input type="radio" name="ckSize" value="M">
                        <input type="radio" name="ckSize" value="L">
                        <input type="radio" name="ckSize" value="XL">
                        <input type="radio" name="ckSize" value="XXXL">
                        <input type="radio" name="ckSize" value="XXXX">
                        <input type="submit" value="Añadir a carrito" class="clickoneroBtnCart">
                        <!-- p.clickoneroError Por favor escoja una talla-->
                    </div>
                </div>
            </div>
        </div>
        <h3 class="product-ck-title">Denim look leggings</h3>
        <div class="tag-div">
            <ul>
                <li><span class="tag-text">Pull &amp; Bear</span><span class="iconFont-star2 tag-icon"></span></li>
            </ul>
        </div><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
            <label>307</label>
        </div>
    </div>
</div>
<div class="products-slide">
    <div class="clickoneroFP-item">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/product5.jpg" alt="Leggings undefined"></a>
            <div class="clickonero-sold-out">AGOTADO
            </div>
        </div>
        <h3 class="product-ck-title">Denim look leggings</h3>
        <div class="tag-div">
            <ul>
                <li><span class="tag-text">Pull &amp; Bear</span><span class="iconFont-star2 tag-icon"></span></li>
            </ul>
        </div><span class="clickoneroFP-actualPrice">$540</span><span class="clickoneroFP-listPrice">$760</span>
        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
            <label>307</label>
        </div>
    </div>
</div>
</div>
</div><span class="iconFont-left rightArrows"></span><span class="iconFont-right rightArrows"></span>
</div>
<div class="clickoneroHome-itemHorizontal">
    <h2>Las Mejores Ofertas de <a href="#">Viajes</a>
    </h2>
    <div class="travel-carrusel">
        <div class="travel-wrapper">
            <div class="travel-slide">
                <div class="clickoneroFP-item itemServicio-home">
                    <div class="clickoneroFP-image">
                        <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/noimage.jpg" alt="Imagen noimage"></a>
                        <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
                    </div>
                    <div class="clickoneroFP-largeDescription">
                        <h3 class="product-ck-title">Descripción / Hotel en dos renglones</h3>
                        <h4 class="product-ck-merchant">Merchant</h4>
                        <div class="tag-div">
                            <ul>
                                <li><span class="tag-text">Condesa</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Teatro</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Destinos</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Emociones</span><span class="iconFont-star2 tag-icon"></span></li>
                            </ul>
                        </div>
                        <div class="clickoneroFP-icons"><img src="clickoneroInclude/images/misc/alimentos-y-bebidas.png" alt="Alimentos y Bebidas" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/avion.png" alt="Avión" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/camion.png" alt="Camión" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/comida.png" alt="Comida" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/crucero.png" alt="Crucero" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/hotel.png" alt="Hotel" class="clickoneroToolTip iconImg">
                        </div><span class="clickoneroFP-actualPrice">$350</span><span class="clickoneroFP-listPrice">$650</span>
                        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
                            <label>307</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travel-slide">
                <div class="clickoneroFP-item itemServicio-home">
                    <div class="clickoneroFP-image">
                        <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/2_9.jpg" alt="Imagen 2_9"></a>
                        <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
                    </div>
                    <div class="clickoneroFP-largeDescription">
                        <h3 class="product-ck-title">Descripción / Hotel en dos renglones</h3>
                        <h4 class="product-ck-merchant">Merchant</h4>
                        <div class="tag-div">
                            <ul>
                                <li><span class="tag-text">Condesa</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Teatro</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Destinos</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Emociones</span><span class="iconFont-star2 tag-icon"></span></li>
                            </ul>
                        </div>
                        <div class="clickoneroFP-icons"><img src="clickoneroInclude/images/misc/alimentos-y-bebidas.png" alt="Alimentos y Bebidas" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/avion.png" alt="Avión" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/camion.png" alt="Camión" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/comida.png" alt="Comida" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/crucero.png" alt="Crucero" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/hotel.png" alt="Hotel" class="clickoneroToolTip iconImg">
                        </div><span class="clickoneroFP-actualPrice">$350</span><span class="clickoneroFP-listPrice">$650</span>
                        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
                            <label>307</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travel-slide">
                <div class="clickoneroFP-item itemServicio-home">
                    <div class="clickoneroFP-image">
                        <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/2_4.jpg" alt="Imagen 2_4"></a>
                        <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
                    </div>
                    <div class="clickoneroFP-largeDescription">
                        <h3 class="product-ck-title">Descripción / Hotel en dos renglones</h3>
                        <h4 class="product-ck-merchant">Merchant</h4>
                        <div class="tag-div">
                            <ul>
                                <li><span class="tag-text">Condesa</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Teatro</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Destinos</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Emociones</span><span class="iconFont-star2 tag-icon"></span></li>
                            </ul>
                        </div>
                        <div class="clickoneroFP-icons"><img src="clickoneroInclude/images/misc/alimentos-y-bebidas.png" alt="Alimentos y Bebidas" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/avion.png" alt="Avión" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/camion.png" alt="Camión" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/comida.png" alt="Comida" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/crucero.png" alt="Crucero" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/hotel.png" alt="Hotel" class="clickoneroToolTip iconImg">
                        </div><span class="clickoneroFP-actualPrice">$350</span><span class="clickoneroFP-listPrice">$650</span>
                        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
                            <label>307</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travel-slide">
                <div class="clickoneroFP-item itemServicio-home">
                    <div class="clickoneroFP-image">
                        <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/2_3.jpg" alt="Imagen 2_3"></a>
                        <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
                    </div>
                    <div class="clickoneroFP-largeDescription">
                        <h3 class="product-ck-title">Descripción / Hotel en dos renglones</h3>
                        <h4 class="product-ck-merchant">Merchant</h4>
                        <div class="tag-div">
                            <ul>
                                <li><span class="tag-text">Condesa</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Teatro</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Destinos</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Emociones</span><span class="iconFont-star2 tag-icon"></span></li>
                            </ul>
                        </div>
                        <div class="clickoneroFP-icons"><img src="clickoneroInclude/images/misc/alimentos-y-bebidas.png" alt="Alimentos y Bebidas" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/avion.png" alt="Avión" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/camion.png" alt="Camión" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/comida.png" alt="Comida" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/crucero.png" alt="Crucero" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/hotel.png" alt="Hotel" class="clickoneroToolTip iconImg">
                        </div><span class="clickoneroFP-actualPrice">$350</span><span class="clickoneroFP-listPrice">$650</span>
                        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
                            <label>307</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travel-slide">
                <div class="clickoneroFP-item itemServicio-home">
                    <div class="clickoneroFP-image">
                        <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/2_8.jpg" alt="Imagen 2_8"></a>
                        <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
                    </div>
                    <div class="clickoneroFP-largeDescription">
                        <h3 class="product-ck-title">Descripción / Hotel en dos renglones</h3>
                        <h4 class="product-ck-merchant">Merchant</h4>
                        <div class="tag-div">
                            <ul>
                                <li><span class="tag-text">Condesa</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Teatro</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Destinos</span><span class="iconFont-star2 tag-icon"></span></li>
                                <li><span class="tag-text">Emociones</span><span class="iconFont-star2 tag-icon"></span></li>
                            </ul>
                        </div>
                        <div class="clickoneroFP-icons"><img src="clickoneroInclude/images/misc/alimentos-y-bebidas.png" alt="Alimentos y Bebidas" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/avion.png" alt="Avión" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/camion.png" alt="Camión" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/comida.png" alt="Comida" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/crucero.png" alt="Crucero" class="clickoneroToolTip iconImg"><img src="clickoneroInclude/images/misc/hotel.png" alt="Hotel" class="clickoneroToolTip iconImg">
                        </div><span class="clickoneroFP-actualPrice">$350</span><span class="clickoneroFP-listPrice">$650</span>
                        <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
                            <label>307</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><span class="iconFont-left rightArrows"></span><span class="iconFont-right rightArrows"></span>
</div>
<div class="clickoneroHome-itemHorizontal clickoneroLocal">
<h2>Las Mejores <a href="#">Ofertas Locales</a>
    <select data-clase="" data-inputselect="true" class="clickoneroSelect">
        <option selected="selected">Seleccione una zona</option>
        <option>DF Norte</option>
        <option>DF Sur</option>
        <option>Guadalajara</option>
        <option>Monterrey</option>
    </select>
</h2>
<div class="localOffer-wrapper">
    <div class="clickoneroFP-item itemServicio-home">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/.jpg" alt="Imagen "></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="clickoneroFP-largeDescription">
            <h3 class="product-ck-title">Descripción / Hotel en dos renglones</h3>
            <h4 class="product-ck-merchant">Merchant</h4>
            <div class="tag-div">
                <ul>
                    <li><span class="tag-text">Condesa</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Teatro</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Destinos</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Emociones</span><span class="iconFont-star2 tag-icon"></span></li>
                </ul>
            </div><span class="clickoneroFP-actualPrice">$350</span><span class="clickoneroFP-listPrice">$650</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
                <label>307</label>
            </div>
        </div>
    </div>
    <div class="clickoneroFP-item itemServicio-home">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/2_2.jpg" alt="Imagen 2_2"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="clickoneroFP-largeDescription">
            <h3 class="product-ck-title">Descripción / Hotel en dos renglones</h3>
            <h4 class="product-ck-merchant">Merchant</h4>
            <div class="tag-div">
                <ul>
                    <li><span class="tag-text">Condesa</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Teatro</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Destinos</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Emociones</span><span class="iconFont-star2 tag-icon"></span></li>
                </ul>
            </div><span class="clickoneroFP-actualPrice">$350</span><span class="clickoneroFP-listPrice">$650</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
                <label>307</label>
            </div>
        </div>
    </div>
    <div class="clickoneroFP-item itemServicio-home">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/2_10.jpg" alt="Imagen 2_10"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="clickoneroFP-largeDescription">
            <h3 class="product-ck-title">Descripción / Hotel en dos renglones</h3>
            <h4 class="product-ck-merchant">Merchant</h4>
            <div class="tag-div">
                <ul>
                    <li><span class="tag-text">Condesa</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Teatro</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Destinos</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Emociones</span><span class="iconFont-star2 tag-icon"></span></li>
                </ul>
            </div><span class="clickoneroFP-actualPrice">$350</span><span class="clickoneroFP-listPrice">$650</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
                <label>307</label>
            </div>
        </div>
    </div>
    <div class="clickoneroFP-item itemServicio-home">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/2_11.jpg" alt="Imagen 2_11"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="clickoneroFP-largeDescription">
            <h3 class="product-ck-title">Descripción / Hotel en dos renglones</h3>
            <h4 class="product-ck-merchant">Merchant</h4>
            <div class="tag-div">
                <ul>
                    <li><span class="tag-text">Condesa</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Teatro</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Destinos</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Emociones</span><span class="iconFont-star2 tag-icon"></span></li>
                </ul>
            </div><span class="clickoneroFP-actualPrice">$350</span><span class="clickoneroFP-listPrice">$650</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
                <label>307</label>
            </div>
        </div>
    </div>
    <div class="clickoneroFP-item itemServicio-home">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/2_1.jpg" alt="Imagen 2_1"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="clickoneroFP-largeDescription">
            <h3 class="product-ck-title">Descripción / Hotel en dos renglones</h3>
            <h4 class="product-ck-merchant">Merchant</h4>
            <div class="tag-div">
                <ul>
                    <li><span class="tag-text">Condesa</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Teatro</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Destinos</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Emociones</span><span class="iconFont-star2 tag-icon"></span></li>
                </ul>
            </div><span class="clickoneroFP-actualPrice">$350</span><span class="clickoneroFP-listPrice">$650</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
                <label>307</label>
            </div>
        </div>
    </div>
    <div class="clickoneroFP-item itemServicio-home">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/2_12.jpg" alt="Imagen 2_12"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="clickoneroFP-largeDescription">
            <h3 class="product-ck-title">Descripción / Hotel en dos renglones</h3>
            <h4 class="product-ck-merchant">Merchant</h4>
            <div class="tag-div">
                <ul>
                    <li><span class="tag-text">Condesa</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Teatro</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Destinos</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Emociones</span><span class="iconFont-star2 tag-icon"></span></li>
                </ul>
            </div><span class="clickoneroFP-actualPrice">$350</span><span class="clickoneroFP-listPrice">$650</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
                <label>307</label>
            </div>
        </div>
    </div>
    <div class="clickoneroFP-item itemServicio-home">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/2_13.jpg" alt="Imagen 2_13"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="clickoneroFP-largeDescription">
            <h3 class="product-ck-title">Descripción / Hotel en dos renglones</h3>
            <h4 class="product-ck-merchant">Merchant</h4>
            <div class="tag-div">
                <ul>
                    <li><span class="tag-text">Condesa</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Teatro</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Destinos</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Emociones</span><span class="iconFont-star2 tag-icon"></span></li>
                </ul>
            </div><span class="clickoneroFP-actualPrice">$350</span><span class="clickoneroFP-listPrice">$650</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
                <label>307</label>
            </div>
        </div>
    </div>
    <div class="clickoneroFP-item itemServicio-home">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/2_14.jpg" alt="Imagen 2_14"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="clickoneroFP-largeDescription">
            <h3 class="product-ck-title">Descripción / Hotel en dos renglones</h3>
            <h4 class="product-ck-merchant">Merchant</h4>
            <div class="tag-div">
                <ul>
                    <li><span class="tag-text">Condesa</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Teatro</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Destinos</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Emociones</span><span class="iconFont-star2 tag-icon"></span></li>
                </ul>
            </div><span class="clickoneroFP-actualPrice">$350</span><span class="clickoneroFP-listPrice">$650</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
                <label>307</label>
            </div>
        </div>
    </div>
    <div class="clickoneroFP-item itemServicio-home">
        <div class="clickoneroFP-image">
            <div class="ck-percent"><span class="ck-percent-save">AHORRA</span><span class="ck-percent-percent">50%</span></div><a href="#"><img src="clickoneroInclude/images/assets/2_6.jpg" alt="Imagen 2_6"></a>
            <div class="clickoneroFP-termina"><span class="iconFont-clock"></span><span>Termina en 7 días</span></div>
        </div>
        <div class="clickoneroFP-largeDescription">
            <h3 class="product-ck-title">Descripción / Hotel en dos renglones</h3>
            <h4 class="product-ck-merchant">Merchant</h4>
            <div class="tag-div">
                <ul>
                    <li><span class="tag-text">Condesa</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Teatro</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Destinos</span><span class="iconFont-star2 tag-icon"></span></li>
                    <li><span class="tag-text">Emociones</span><span class="iconFont-star2 tag-icon"></span></li>
                </ul>
            </div><span class="clickoneroFP-actualPrice">$350</span><span class="clickoneroFP-listPrice">$650</span>
            <div class="clickoneroFP-winWinbits"><span>GANA</span><em class="iconBit bit13px"><em class="iconFont-circle"></em><em class="iconFont-bit"></em></em>
                <label>307</label>
            </div>
        </div>
    </div>
</div>
</div>
</div>

@section scripts
{
    <script>
    (function () {
            //º fancybox();
            $('.clickoneroFilter-div').customCheckbox();
            $('.clickoneroFP-productSize').customRadio();
            $('.clickoneroHB-carrusel').carouselSwiper({
                optionsSwiper: {
                    slideClass: 'clickoneroHB-slide',
                    wrapperClass: 'clickoneroHB-wrapper',
                    grabCursor: true,
                    loop: true,
                    autoplay: 5000
                },
                arrowLeft: '.iconFontArrow-prev',
                arrowRight: '.iconFontArrow-next',
                loop: true,
                slideCSS: '.clickoneroHB-slide',
                calculateHeight: true
            });
            $('.products-carrusel').carouselSwiper({
                optionsSwiper: {
                    slideClass: 'products-slide',
                    wrapperClass: 'products-wrapper',
                    grabCursor: true,
                    loop: true,
                    slidesPerView: 5,
                    onSlideClick: function (swiper) {
                        $('.clickoneroFP-productSize').customRadio({ justClick: true });
                    },
                    onSwiperCreated: function (swiper) {
                        $(swiper.activeSlide()).find('.clickoneroFP-overlay').trigger('click');
                        $(swiper.activeSlide()).find('.clickoneroToolTip').trigger('mouseover');
                    }
                },
                arrowLeft: '.iconFont-left',
                arrowRight: '.iconFont-right',
                loop: true,
                slideCSS: '.products-slide',
                calculateHeight: true,
                slidesNum: 5
            });
            $('.travel-carrusel').carouselSwiper({
                optionsSwiper: {
                    slideClass: 'travel-slide',
                    wrapperClass: 'travel-wrapper',
                    grabCursor: true,
                    loop: true,
                    slidesPerView: 3,
                    onSlideClick: function (swiper) {
                        $('.clickoneroFP-productSize').customRadio({ justClick: true });
                    },
                    onSwiperCreated: function (swiper) {
                        $(swiper.activeSlide()).find('.clickoneroFP-overlay').trigger('click');
                        $(swiper.activeSlide()).find('.clickoneroToolTip').trigger('mouseover');
                    }
                },
                arrowLeft: '.iconFont-left',
                arrowRight: '.iconFont-right',
                loop: true,
                slideCSS: '.travel-slide',
                calculateHeight: true,
                slidesNum: 3
            });
            $('.iconBlock').point();
            DocumentReady();
    })();
        </script>
}

