doctype html
html(lang="es", class="clickoneroVertical")
	include scaffolding/head.jade
	body
		div.clickoneroPreloader: p
		header: div#winbits-widget
		main.clickoneroMain.widgetWinbitsMain
			div.clickoneroMainHeader
				div.clickoneroHeader
					div.clickoneroLogoLink
						a(href="#")
							span.iconFont-o
							span.iconFont-clicknero
					div.clickoneroMainSearch
						input(type="text", placeholder="¿Qué estas buscando?")
						span.iconFont-lupa
					div.clickoneroSecundaryNav
						ul
							li 4160-0550
							li: a(href="mailto:info@winbits.com") info@winbits.com 
						p: a.clickoneroBtn(href="#") Contesta y gana
							span.iconFont-bit
			div.clickoneroWrapper
				div.wb-breadcrums
						div.wb-breadcrums-div
							span: a(href="#") Home
							span.iconFont-right3
							span Preguntas Frecuentes
			div.clickonero-faqtabs
				div.clickonero-infotext
					div.clickoneroWrapper
						h2 ¿CÓMO PODEMOS AYUDARTE?
						div.infotext-tabs
							ul
								li: a(href="#faq1") INFO. GENERAL
								li: a(href="#faq2") REGISTRO
								li: a(href="#faq3") COMPRAR
								li: a(href="#faq4") ORDEN, PEDIDOS, CUPONES
								li: a(href="#faq5") WINBITS
								li: a(href="#faq6") VIAJES
								li: a(href="#faq7") REFERENCIADOS
								li: a(href="#faq8") NEWSLETTER
								li: a(href="#faq9") MEDIOS DE PAGO
								li: a(href="#faq10") SOCIOS
								li.tabs-contacto: a(href="#contacto")
									span.iconFont-email3
									span CONTACTANOS
				div.clickonero-infotext
				div.clickoneroWrapper
					div.infotext-tab#faq1
						h3 INFORMACIÓN GENERAL
						h4 1. ¿Qué es clickOnero?
						ul
							li clickOnero es una empresa líder en e-commerce en México, es una empresa joven comprometida en generar experiencias únicas a los compradores virtuales.
							li clickOnero tiene las mejores experiencias de compra por internet, porque cada día te ofrece los mejores y modernos productos que comprar, los lugares más increíbles donde ir y las más creativas opciones de que ver, comer y disfrutar en las principales ciudades de la República Mexicana. Todo a precios inigualables, de manera sencilla, segura y divertida para gente vanguardista como tú.
						h4 2. ¿Cómo funciona?
						ul
							li Todos los días clickOnero presenta grandes ofertas en su página <a href="http://www.clickonero.com.mx">www.clickonero.com.mx</a> para que vivas una experiencia increíble a un precio inmejorable.
							li Encontrarás fantásticos descuentos en productos de alta calidad, de diferentes marcas reconocidas; así como, restaurantes, salones de belleza, spas, citas médicas, bares, hasta viajes que te robarán el aliento.
							li Una vez concluida la oferta, te enviaremos a tu correo tu código de compra, mismo que podrás redimir directamente en el establecimiento patrocinador y disfrutar la gran oferta a un precio inmejorable. Si compraste un producto, solo debes esperar que te llegue a la puerta de tu domicilio.
						h4 3. ¿Cómo me entero de las ofertas de clickOnero?
						ul
							li Síguenos en <a href="http://www.facebook.com/clickOneroMexico" target="_blank">Facebook</a>, <a href="https://twitter.com/clickOneroMX" target="_blank">Twitter</a> y <a href="http://www.youtube.com/user/clickonerotv" target="_blank">Youtube</a> en donde podrás encontrar ofertas y promociones exclusivas para nuestros fans y Followers. Al registrarte en nuestra página <a href="http://www.clickonero.com.mx">www.clickonero.com.mx</a> recibirás grandes oferta a tu cuenta de correo.
					div.infotext-tab#faq2
						h3 REGISTRO
						h4 1. ¿Cómo puedo registrarme en clickOnero?
						p Para hacerte usuario de clickOnero y poder comprar cualquiera de nuestras ofertas, debes estar registrado en nuestra página  <a href="http://www.clickonero.com.mx">www.clickonero.com.mx</a> Haz clic en <a href="#wb-register">Regístrate"</a> en la parte superior derecha de tu pantalla. Introduce tus datos y a partir de ese momento ya puedes disfrutar de los mejores descuentos. ¡Crear tu cuenta ES TOTALMENTE GRATIS!
						h4 2. ¿Tiene algún costo registrarme en clickOnero?
						p No, ¡registrarse es totalmente gratis!
						h4 3. Ya estoy registrado ¿Cómo puedo acceder a mi cuenta de clcikOnero?
						p En  <a href="http://www.clickonero.com.mx">www.clickonero.com.mx</a>, accede a tu cuenta haciendo click en el botón <a href="#wb-register">"Entrar"</a>, que está en la parte superior derecha de tu pantalla y proporciona tu correo electrónico, tu contraseña y listo! En tu cuenta podrás modificar tus datos, consultar tu crédito disponible, ver todas tus compras y descargar tus cupones o pedidos.
						h4 4. ¿Qué hago si no recuerdo mi contraseña?
						p Junto al campo de "contraseña", haz click en el botón "¿olvidaste tu contraseña?". Indica tu correo electrónico y recibirás en tu email un enlace para que puedas volver a generar una nueva contraseña.
					div.infotext-tab#faq3
						h3 COMPRAR
						h4 1. ¿Cómo comprar?
						p Para poder comprar debes estar registrado en nuestra página  <a href="http://www.clickonero.com.mx">www.clickonero.com.mx</a> ver <a href="#wb-register">Regístrate"</a>.
						ol(style="list-style-type: lower-alpha")
							li Localiza la opción que deseas adquirir y oprime el botón "Añadir a carrito"
							li El sistema te mostrará todos los detalles del producto o servicio seleccionado, como condiciones de compra, formas de canje del cupón, características del producto o servicio, vigencia del cupón, etc., si estás de acuerdo con la información mostrada, da click en el botón azul Comprar.
							li Selecciona la opción de pago que mejor te acomode e introduce los datos necesarios para completar tu pago y haz click en el botón "Comprar".
							li Te llegará por correo la confirmación de tu orden, una vez que esté reflejado tu pago.
							li Tu orden la podrás encontrar dentro de tu cuenta de clickOnero.
							li Y listo.
						h5 Consideraciones de la compra de un producto
						ul
							li El sistema te pedirá la dirección de entrega, es importante que al hacer la compra de un producto registres la dirección de entrega y el nombre de quien recibirá tu pedido. Recuerda que una vez registrada la dirección de entrega no podrás modificarla vía web solo comunicándote a clickOnero, siempre y cuando la publicación del producto esté vigente. Cualquier cambio puede generar un retraso en la entrega del producto.
							li Tu pedido será enviado en un lapso de 20 días hábiles una vez finalizada la campaña.
						h5 Consideraciones en la compra de un servicio / diversión
						ul
							li En caso de que hayas comprado un servicio/diversión podrás hacer válida la promoción contactando al establecimiento que ofreció este descuento, este dato está en tu cupón.
							li Recuerda hacer cita cuando así lo especifique tu cupón.
							li Nuestros cupones contienen un código con el cual el establecimiento validará tu compra en clickOnero.
						h5 Consideraciones en la Compra de un viaje
						ul 
							li En el caso de adquirir un viaje, recuerda revisar las condiciones de la oferta, las cuales son muy importantes y verifica las fechas en que podrás hacer uso y el alcance.
							li Una vez que recibas tu cupón no olvides hacer tu reservación de inmediato.
						h4 2. ¿Es seguro comprar en clickOnero?
						p Es completamente seguro. Tus datos bancarios se transmiten directamente a las plataformas de cobro de los bancos, sin que clickOnero, ni terceros accedan en ningún momento a información sensible. Por lo que tus datos están 100% seguros.
						h4 3. ¿Puedo comprar un producto/servicio/viaje como regalo para alguien más?
						p ¡Claro! A menos que los <a href="#">términos y condiciones</a> de la oferta digan lo contrario.
						h4 4. ¿Puedo regalar mi cupón (servicio/viaje) a un amigo?
						p Por supuesto y sin problemas, los cupones no están asignados a ningún nombre.
						h4 5. ¿Tengo que registrar a un grupo de amigos para poder comprar?
						p No, puedes comprar lo que más te agrade directamente.
						h4 6. ¿Puedo cambiar la dirección que ingresé en mi compra?
						p Para cambios de dirección, tienes 24 hrs. para solicitar la modificación una vez realizada tu compra, debes comunicarte a Atención a Clientes de clickOnero. En caso de que te des cuenta tiempo después al periodo mencionado, ya no será posible generar el cambio, los datos proporcionados son de tu exclusiva responsabilidad.
						h4 7. ¿Puedo cambiar la talla o de color del producto que compré?
						p Sólo si está vigente la campaña y si hay existencias de la talla y color a cambiar, para ejecutar este cambio es necesario te comuniques al Centro de Atención a Clientes clickOnero, donde te apoyaremos.
						h4 8. ¿Puedo cancelar mi pedido?
						p Sí, siempre y cuando la campaña esté vigente en nuestro sitio Web. Para cancelar es necesario te comuniques al Centro de Atención a Clientes clickOnero, donde te apoyaremos.
						h4 9. ¿Quién puede recibir mi producto ya que trabajo todo el día?
						p Tu pedido lo puede recibir cualquier persona mayor de edad, en la dirección que nos indicaste en un horario abierto. Te recordamos que a la recepción de tu pedido nos deben de firmar de conformidad con el pedido, tanto en cantidad como en calidad
						h4 10. ¿Qué sucede si no me encuentro en el domicilio cuando hagan la entrega del pedido?
						p Se realizan tres visitas y en cada una de ellas se dejará un mensaje para que tengas conocimiento de la visita y fecha de nueva visita, si en las tres oportunidades no te encontramos, nos comunicaremos contigo para corroborar los datos de entrega que nos proporcionaste. En caso de que la mensajería lo devuelva por hacer tres intentos sin éxito en la entrega, el reenvío tendrá un costo adicional, previa validación de datos.
					div.infotext-tab#faq4
						h3 MI ORDEN, MI PEDIDO Y MIS CUPONES
						h4 1. ¿Qué es Mi Orden?
						p Tu Orden es el comprobante de compra que genera clickOnero, donde te desglosada los producto y/o servicios que compraste en una transacción, en tu orden podrás encontrar el número que identifica tu orden, detalles de lo comprado, descripción de lo comprado, fecha estimada de entrega en caso de productos y fecha de vigencia en caso de cupones para servicios y viajes. Tu Orden se te enviará por email una vez confirmado tu pago y la podrás encontrar también en tu cuenta de clickOnero.
						h4 2. ¿Qué es Mi Pedido?
						p Tu Pedido es la información sobre tu compra de productos en una transacción, donde encontrarás el número de productos comprados, características de cada uno y la fecha estimada de entrega. Tu Pedido lo podrás encontrar en tu cuenta de clickOnero.
						h4 3. ¿Qué es Mi cupón?
						p Es el documento que te genera el sistema de clickOnero cuando realizas una compra de un servicio o viajes, este documento tiene asignado un código en la parte superior derecha y ese es el que canjeas para obtener la oferta que compraste.
						h4 4. ¿Cómo obtengo mi orden/pedido/cupón?
						p Una vez realizada tu compra y finalizada la oferta, el sistema de clickOnero te enviará tu Orden y tus cupones adquiridos a tu cuenta de correo electrónico y también te los liberará en la sección de "Mi cuenta".
						p Para canjear tu cupón de servicios y viajes debes ejecutar los siguientes pasos, dependiendo si compraste un servicio o un viaje:
						p a) Si compraste un servicio el canje de tu cupón se realiza así:
						ul
							li Imprime tu cupón.
							li En los casos de servicios, donde se mencione en el detalle de la oferta que, para poder hacer uso de éste es necesario reservar, hay que comunicarse a los teléfonos anotados en tu cupón, con la finalidad de agendar cita y poder recibir el servicio contratado, especificando con el establecimiento la fecha y hora de la cita acordada y verificando con el mismo establecimiento el tiempo de tolerancia en caso de existir.
							li Debes presentarte con tu cupón impreso en la fecha acordada.
							li Respecto a los cupones de obras de teatro y espectáculos debes presentarte con el tiempo de anticipación indicado en tu cupón, en la taquilla del evento para canjear tu cupón, no olvides llevarlo impreso.
							li Nota: En caso de que tu cupón mencione que la diferencia del precio es pagable en el establecimiento, favor de considerar llevar el monto requerido en la fecha y hora agendada con el proveedor del servicio.
						p b) Si compraste un viaje el canje de tu cupón se realiza así:
						ul
							li Imprime tu cupón.
							li Comunícate con el proveedor del servicio, a los números publicados en la oferta, para agendar fecha y hora de salida, debes presentarte con tu cupón impreso en la fecha acordada.
						p c) Si compraste un producto el canje de tu cupón se realiza así:
						ul
							li Una vez que finalice la oferta que compraste, tu producto será entregado en la dirección que nos proporcionaste teniendo como garantía de entrega 20 días hábiles una vez finalizada la oferta, tal y como se mencione en la publicación de la oferta.
						p.text-note Nota: Si compraste productos no necesitas canjear nada, solo espera a recibir tu pedido en la dirección que nos proporcionaste.
						h4 5. ¿Necesito usar mi cupón el mismo día que lo compré?
						p No. Muchos cupones tienen una fecha de vigencia pero nunca vas a tener que utilizarlos el día que lo compres. No te preocupes, tendrás tiempo suficiente para disfrutar tu oferta.
						h4 6. ¿Qué hago si no me llega el e-mail con mi cupón?
						p Ingresa a nuestra página www.clickonero.com.mx en la sección de "Mi cuenta" encontrarás la pestañas de "Mis pedidos" elije mostrar todos y ahí encontrarás todos tus cupones comprados, puedes imprimirlos ahí.
						h4 7. ¿Puedo devolver un cupón?
						p Las devoluciones son tratadas caso por caso. Si has tenido algún problema, estaremos encantados de atenderte para solucionarlo. En el caso de que no podamos solucionar tu problema y no sea tu responsabilidad, te devolveremos el importe íntegro de tu compra sin ningún tipo de recargo.
						h4 8. ¿Dónde encuentro mis Ordenes/Pedidos/Cupones comprados?
						p Debes acceder en <a href="http://www.clickonero.com.mx">www.clickonero.com.mx</a> a tu cuenta a través de (botón "acceder" en la parte superior derecha de la pantalla) y en el apartado de "Mis compras" podrás encontrar tanto tus Ordenes, como Pedidos y Cupones, estos últimos los podrás descargar en formato PDF e imprimirlos sin problemas, para presentarlos con el proveedor del servicio o viaje.
						h4 9. ¿Si no utilizo el valor total de mi cupón en una visita al establecimiento, tendré el crédito remanente para mi siguiente visita?
						p No. Lo sentimos pero los cupones están hechos para ser utilizados en una sola visita. De cualquier forma revisa los términos y condiciones de las ofertas.
						h4 10. ¿Dónde están los datos del establecimiento al que debo ir a usar mi cupón?
						p En tu cupón encontrarás todos los datos de la empresa, como dirección, teléfono, nombre y horarios de atención.
						h4 11. ¿Qué pasa si el establecimiento de mi cupón cierra?
						p En caso de que esto ocurriera, no tendremos ningún problema en reembolsarte el importe total de tu compra. El único requisito es que el canje del cupón esté dentro del plazo indicado en el mismo.
						h4 12. ¿Qué hago si el establecimiento no me quiere redimir mi cupón y todavía no ha expirado?
						p Si tienes problemas de este tipo, por favor mándanos un correo a info@clickonero.com donde nos expliques lo sucedido y nosotros te ayudaremos a resolverlo.
						h4 13. ¿Qué pasa si caduca mi cupón y no lo usé?
						p Esperamos que esto no suceda, porque en tal caso perderás la posibilidad de disfrutar de tu cupón y también el importe que pagaste. Por lo que, te sugerimos te asegures bien del tiempo de vigencia de tu cupón para que puedas canjearlo. El periodo de vigencia lo encuentras en la sección de condiciones de cada oferta y además en tu cupón que está disponible en la sección de Mi cuenta.
						h4 14. ¿Si no usé mi cupón me pueden devolver mi dinero?
						p Esperamos que esto no suceda, porque en tal caso perderás la posibilidad de disfrutar de tu cupón y también el importe que pagaste. Dado que el uso del cupón es 100% responsabilidad de quien efectuó la compra y su uso depende del cliente, por lo tanto te sugerimos estar pendiente de su vigencia para que no te pierdas la oportunidad de disfrutar de una gran oferta.
					div.infotext-tab#faq5
						h3 WINBITS
						h4 1. ¿Qué es Mi Crédito clickOnero?
						p Es crédito que clickOnero regala a sus clientes para recompensar su lealtad y confianza, este crédito se deposita a tu cuenta de clickOnero y lo puedes usar para comprar la oferta que más te agrade! Para saber cuánto tienen en crédito solo debes entrar a la sección de "Mi cuenta" en la pestaña de Mi Crédito.
						h4 2. ¿Cómo puedo usar mi crédito clickOnero?
						p Puedes usar tu crédito en cualquier Campaña/Oferta que tengamos activa. Si tu crédito es mayor que el costo de la oferta, el resto de tu crédito lo puedes canjear en otra oferta, a menos que ya haya expirado su validez.
						h4 3. ¿Cuánto tiempo tengo para usar mi crédito clickOnero?
						p Puedes usar tu crédito como quieras dentro su periodo de vigencia. La única limitación existente es el plazo de caducidad por lo que debes de verificar su periodo de validez. Puedes consultar el crédito que tienes disponible en cada momento entrando en tu cuenta, en la sección de la sección "Mi cuenta" en la pestaña de "Mi crédito".
						h4 4. Si no uso el crédito clickOnero completo en una sola compra ¿puedo utilizar el resto más tarde?
						p Por supuesto. Cada vez que obtienes crédito, la cantidad ingresada está a tu disposición para que lo emplees en alguna de nuestras ofertas que más te agrade, siempre que esté dentro del tiempo de la vigencia de uso.
					div.infotext-tab#faq6
						h3 VIAJES
						h4 1. ¿Las reservas las tengo que hacer yo?
						p Sí, la reservación la haces tú directamente con la agencia, la información de contacto la encontrarás publicada dentro de las condiciones y detalles de la oferta.
						h4 2. ¿Cuándo me enviarán mis clickOnes (cupones)?
						p Tus cupones son enviados a tu correo electrónico una vez que tu pago es acreditado a clickOnero, si no recibes el correo, tus cupones los podrás encontrar en la opción de Mis pedidos en la sección Mi Cuenta.
						p El tiempo varía de acuerdo a tu forma de pago: tarjeta crédito o débito, mismo día, depósito o transferencia bancaria de 24 a 48 hrs, pago en OXXO o 7/eleven de 72 horas a 10 días.
						h4 3. ¿Cómo me pongo en contacto con clickOnero Travel?
						p Nos puedes contactar al 4160 1030 de lunes a viernes de 08:00 a 20:00 hrs. y sábados de 10:00 a 14 hrs o al correo: travel@clickonero.com.mx con gusto te ayudaremos y aclararemos todas tus dudas.
						h4 4. ¿Puedo usar el descuento en otra fecha diferente a la publicada?
						p Al ser cupones de fecha fija, no es posible el cambio de la misma ya que los cupones se encuentran reservados previamente con fechas específicas.
						h4 5. ¿Se pueden agregar menores de edad?
						p Siempre en las condiciones de la publicación verás si se puede agregar menores de edad y cuál es el valor que deberás pagar como extra, en caso que aplique.
						h4 6. Si mi cupón incluye el traslado del aeropuerto al hotel, ¿Con quién me tengo que contactar para que me vayan a buscar?
						p No debes contactar a nadie, te estarán esperando a tu llegada, siempre y cuando al momento de tu reservación en la agencia revises las instrucciones a seguir a tu llegada.
						h4 7. ¿En dónde puedo obtener más información sobre la oferta?
						p La información de cada oferta la puedes verificar dentro las pestañas de "Detalles" y "Condiciones" las cuales se pueden encontrar dando click en el icono de ver oferta y debajo de la imagen que caracteriza a cada una de ellas.						
					div.infotext-tab#faq7
						h3 REFERENCIADOS
						h4 1. ¿Cómo puedo recomendar amigos para que se unan a clickOnero?
						p En <a href="http://www.clickonero.com.mx">www.clickonero.com.mx</a> en la sección de "Mi cuenta" encontrarás la pestaña de "mis recomendados", ahí podrás encontrar una liga personal que puedes pegar y enviar a todos tus amigos por email o en tus redes sociales. Puedes recomendar los descuentos de clickOnero a quien quieras y cuando quieras. Para ello sólo tienes que entrar en tu cuenta, pulsar la opción "Recomienda clickOnero" y enviar la invitación con un texto genérico o personalizado.
						h4 2. ¿Qué beneficios obtengo con mi liga personal?
						p Al recomendar a tus amigos por medio de tu liga personal, podrás ganar crédito clickOnero para comprar alguna de nuestras ofertas; y por cada uno de ellos que se inscriba y realice su primera compra en nuestro portal, recibirás el crédito.
						h4 3. ¿Cuánto recibiré de crédito por cada amigo recomendado?
						p Cuando tu amigo recomendado realice su primera compra, recibirás $75 en crédito, siempre y cuando el monto de tu compra sea igual o mayor a $75. En caso de ser menor, se abonará a tu cuenta la misma cantidad que tu amigo pagó. Por ejemplo: si tu amigo recomendado compró una oferta con un valor de $50, esa misma cantidad es la que tú recibirás en crédito.
						h4 4. ¿Cuántas recomendaciones puedo hacer?
						p ¡Todas las que gustes! Pero hay un máximo de 10 abonos en 6 meses, así que mientras más recomiendes clickOnero, más créditos podrás obtener para comprar las mejores ofertas o campañas.
						p Las recomendaciones se pueden realizar a través de correo electrónico, <a href="http://www.facebook.com/clickOneroMexico" target="_blank">Facebook</a> o <a href="https://twitter.com/clickOneroMX" target="_blank">Twitter</a>. También puedes buscar entre los contactos de tus cuentas de correo para hacerlo con mayor rapidez.
					div.infotext-tab#faq8
						h3 NEWSLETTER
						h4 1. ¿Cómo puedo recibir las ofertas de clickOnero?
						p Fácil!! Si quieres recibir nuestras espectaculares ofertas sólo debes registrar tu correo en la ciudad que tú quieras, una vez confirmado esto, recibirás a diario la oferta de la ciudad que escogiste. Y ahora a disfrutar!!
						h4 2. ¿Cómo dejo de recibir sus ofertas?
						p En la parte inferior del correo que recibes a diario, hay un link denominado "unsuscribe", al dar click te llevará a suspender el envío de correos. De esta forma no recibirás más nuestras ofertas. En caso de no ser así, ponte en contacto con nosotros y lo solucionaremos rápidamente.
						h4 3. ¿Cómo puedo cambiar mis preferencias de newsletter?
						p Lo puedes hacer a través de la sección de Mi cuenta en la pestaña de Mis datos, en parte inferior encontrarás una sección de ciudades y hay puedes seleccionar cual newsletter desear recibir o cancelar su recepción.
					div.infotext-tab#faq9
						h3 MEDIOS DE PAGO
						h4 1. ¿Cómo puedo pagar una oferta que me interesa?
						p En todas nuestras ofertas existen diferentes opciones de pago, para utilizar una de ellas debes localizar la oferta que deseas adquirir y oprimir el botón verde que dice ¡Compra ahora!, ahí se desplegarán las opciones de pago que clickOnero tiene, disponibles para esa oferta, para que elijas la que más te acomoda: Tarjetas de débito y crédito (Visa y MasterCard), Cuenta PayPal débito o crédito (Visa y MasterCard), Banco en línea Safetypay, Tarjeta de crédito American Express, o bien, pago en efectivo en tiendas Oxxo y 7-eleven o directamente deposito a la cuenta bancaria de clickOnero en BBVA Bancomer.
						h4 2. ¿Qué debo hacer para pagar con tarjeta de débito o crédito?
						ol(style="list-style-type: lower-alpha")
							liTu tarjeta deberá ser Visa o MasterCard.
							li Al seleccionar esta opción el sistema te solicitará que ingreses tu nombre (como aparece en la tarjeta), el número de la tarjeta (16 dígitos), y el número de seguridad (los 3 últimos dígitos que se encuentran del lado derecho de donde aparece tu firma), así como la fecha de vencimiento de tu tarjeta (4 dígitos). Para mayor seguridad será necesario que copies las palabras que te aparecen en la pantalla (Captcha).
							li Posteriormente se te solicita que aceptes los términos y condiciones de la compra, para que puedas oprimir el botón que dice "Ordena ahora".
							li Por último, el sistema te mostrará la confirmación de tu pago, así como tu número de transacción y te enviará tu cupón a tu Email y a tu Cuenta en el sitio de clickOnero.com
							li En algunos casos, de acuerdo al valor de la oferta, se te pedirá que envíes copia de una identificación oficial (IFE, Pasaporte), de la tarjeta con la que realizaste el pago y la responsiva de pago, esto para mayor seguridad de tu compra.
						p Recuerda que nuestros cupones se entregan una vez acreditado el pago y que la oferta haya finalizado en nuestra página.
						p Si en el transcurso del tiempo de acreditación de tu pago (en caso de pagos en efectivo) nuestra oferta finaliza, no te preocupes tu cupón llegará una vez que tu pago se haya reflejado, te sugerimos realizar el pago lo más pronto posible para asegurar la oferta de tu interés.
						h4 3. ¿Qué debo hacer para pagar con una cuenta PayPal débito o crédito?
						ol(style="list-style-type: lower-alpha")
							li Debes contar con una cuenta PayPal ligada a tu tarjeta de débito o crédito Visa o MasterCard, sino tienes una cuenta y quieres obtenerla visita <a href="http://bit.ly/oSqElX" target="_blank">http://bit.ly/oSqElX</a>
							li Al seleccionar esta opción se te pedirá que ingreses los datos de tu cuenta PayPal (usuario y password), y que aceptes los términos y condiciones de la compra, para poder oprimir el botón que dice "Ordena ahora".
							li El sistema te desglosará la información de tu compra, para poder dar clcik en el botón de "Pagar ahora".
							li Por último, el sistema te mostrará la confirmación de tu pago, así como tu número de transacción.
							li Una vez que el sistema de PayPal haya confirmado tu pago, se te notificará por correo y se te enviará tu cupón, también se te enviará a tu Cuenta en el sitio de clickOnero.com
						p Recuerda que nuestros cupones se entregan una vez acreditado el pago y que la oferta haya finalizado en nuestra página.
						p Si en el transcurso del tiempo de acreditación de tu pago (en caso de pagos en efectivo) nuestra oferta finaliza, no te preocupes tu cupón llegará una vez que tu pago se haya reflejado, te sugerimos realizar el pago lo más pronto posible para asegurar la oferta de tu interés.
						h4 4. ¿Qué debo hacer para pagar por medio de banco en línea SafetyPay?
						ol(style="list-style-type: lower-alpha")
							li Para utilizar esta opción tu banco deberá estar asociado al sistema SafetyPay, por el momento los bancos con esta opción son: Santander, Bancomer, Banorte y Scotiabank.
							li Al seleccionar esta opción se te pedirá que aceptes los términos y condiciones de la compra, para poder oprimir el botón que dice "Compra ahora".
							li Posteriormente, deberás seleccionar el nombre del banco correspondiente, para que el sistema te indique el número de transacción y la cantidad a pagar.
							li Para completar deberás ingresar tus datos (claves de acceso y número de transacción) a la banca electrónica del banco seleccionado (la página te aparecerá de forma automática en este paso)
							li Finalmente, el sistema te mostrará la confirmación de tu pago.
							li Una vez confirmado tu pago, se te notificará por correo y se te enviará tu cupón, también se te enviará a tu Cuenta en el sitio de clickOnero.com
						p Recuerda que nuestros cupones se entregan una vez acreditado el pago y que la oferta haya finalizado en nuestra página.
						p Si en el transcurso del tiempo de acreditación de tu pago (en caso de pagos en efectivo) nuestra oferta finaliza, no te preocupes tu cupón llegará una vez que tu pago se haya reflejado, te sugerimos realizar el pago lo más pronto posible para asegurar la oferta de tu interés.
						h4 5. ¿Qué debo hacer para pagar con tarjeta American Express?
						ol(style="list-style-type: lower-alpha")
							li Tu tarjeta deberá ser American Express.
							li Al seleccionar esta opción el sistema te solicitará que ingreses tu nombre (como aparece en la tarjeta), el número de la tarjeta (15 dígitos), y el número de seguridad (los 4 últimos dígitos que se encuentran del lado derecho de donde aparece tu firma), así como la fecha de vencimiento de tu tarjeta mes y año (4 dígitos). También te solicitarán los datos de Dirección de facturación, Ciudad, Delegación, Código Postal y teléfono.
							li Posteriormente se te solicita que aceptes los términos y condiciones de la compra, para poder dar click en el botón que dice "Ordena ahora". Para mayor seguridad será necesario que copies las palabras que te aparecen en la pantalla (Captcha).
							li Por último, el sistema te mostrará la confirmación de tu pago, así como tu número de transacción.
							li Una vez confirmado tu pago, se te notificará por correo y se te enviará tu cupón, también se te enviará a tu Cuenta en el sitio de clickOnero.com
						p Recuerda que nuestros cupones se entregan una vez acreditado el pago y que la oferta haya finalizado en nuestra página.
						p Si en el transcurso del tiempo de acreditación de tu pago (en caso de pagos en efectivo) nuestra oferta finaliza, no te preocupes tu cupón llegará una vez que tu pago se haya reflejado, te sugerimos realizar el pago lo más pronto posible para asegurar la oferta de tu interés.
						h4 6. ¿Qué debo hacer para pagar a través de tiendas Oxxo o 7-eleven o BBVA Bancomer?
						ol(style="list-style-type: lower-alpha")
							li Si deseas pagar en efectivo por medio de tiendas Oxxo, 7-eleven o depósito en ventanilla de BBVA Bancomer, deberás seleccionar esta opción correspondiente e ingresar los datos que el sistema solicite (nombre completo, teléfono, etc.)
							li Posteriormente será necesario que aceptes los términos y condiciones de la compra vía Dinero Mail, para poder oprimir el botón que dice "Pagar".
							li El sistema te arrojará un código de barras que deberás imprimir para acudir a pagar a cualquier sucursal del tipo de tienda elegido ya sea Oxxo o 7-eleven, en caso de pago en ventanilla deberás acudir a cualquier sucursal de BBVABancomer.
							li El tiempo máximo para pagar se especifica junto al código de barras, entre más rápido pagues es mejor para asegurar la adquisición de la oferta.
							li Por seguridad recomendamos conservar el código de barras y el ticket de compra que se te proporcionará la tienda o tu comprobante de depósito bancario.
							li Los pagos hechos en efectivo se acreditan de 24 a 48 horas hábiles después de recibido el pago, por lo que debes hacerlo antes de que finalice la oferta.
							li Una vez acreditado el pago por Dinero Mail, te llegará tu cupón por Email y a tu Cuenta en el sitio de clickOnero.com
							li En caso de depósito en ventanilla deberás "subir" copia de la ficha de depósito en el link que el sistema te envía a tu cuenta de correo, para que tu compra quede confirmada.
						p Recuerda que nuestros cupones se entregan una vez acreditado el pago y que la oferta haya finalizado en nuestra página.
						p Si en el transcurso del tiempo de acreditación de tu pago (en caso de pagos en efectivo) nuestra oferta finaliza, no te preocupes tu cupón llegará una vez que tu pago se haya reflejado, te sugerimos realizar el pago lo más pronto posible para asegurar la oferta de tu interés.						
					div.infotext-tab#faq10
						h3 SOCIOS
						h4 1. ¿Cómo puedo promocionar mi negocio?
						p Accede a <a href="http://www.clickonero.com.mx">www.clickonero.com.mx</a>, a pie de página haz click en el <a href="mailto: socios@clickonero.com">socios@clickonero.com</a> Envía todos los datos necesarios sobre tu negocio, como tipo de producto o servicio, la ubicación del mismo, etc. El departamento comercial correspondiente se pondrá en contacto contigo cuanto antes.
					div.infotext-tab#contacto
						h3 CONTACTANOS
						h4 Clientes
						p Estamos para escucharte y atenderte, escríbenos a <a href="mailto:info@clickonero.com">info@clickonero.com</a>, si compraste algún viaje <a href="mailto: travel@clickonero.com">travel@clickonero.com</a>
						h4 Socios
						p Si estás interesado en ofrecer tus servicios y/o productos con nosotros, por favor mándanos un e-mail a <a href="mailto: socios@clickonero.com">socios@clickonero.com</a>
						h4 Oportunidades de Empleo
						p Mandanos tu CV en formato PDF a <a href="mailto: talento@clickonero.com">talento@clickonero.com</a>
						h4 Prensa y Medios
						p Nos encantaría compartir nuestros sueños y realidades, contáctanos a <a href="prensa@clickonero.com">prensa@clickonero.com</a>
						h4 Dirección de oficinas:
						address
							p <a href="http://www.clickonero.com.mx">www.clickonero.com.mx</a>
							p Acueducto Río Hondo #30
							p Col. Lomas de Chapultepec II Sección, Miguel Hidalgo
							p C.P. 11000 México D.F.
							p Teléfono: 55-4160-1001
							p <a href="mailto: info@clickonero.com">info@clickonero.com</a>
			+footerAddress
		include scaffolding/footer.jade
		script.
			(function(){
				DocumentReady();
				$('.clickonero-faqtabs').tabs();
			})();