doctype html
html(lang="es", class="clickoneroVertical")
	include scaffolding/head.jade
	body
		div.clickoneroPreloader: p
		header: div#winbits-widget
		main.clickoneroMain.widgetWinbitsMain
			div.clickoneroMainHeader
				div.clickoneroHeader
					div.clickoneroLogoLink
						a(href="#")
							span.iconFont-o
							span.iconFont-clicknero
					div.clickoneroMainSearch
						input(type="text", placeholder="¿Qué estas buscando?")
						span.iconFont-lupa
					div.clickoneroSecundaryNav
						ul
							li 4160-0550
							li: a(href="mailto:info@winbits.com") info@winbits.com 
						p: a.clickoneroBtn(href="#") Contesta y gana
							span.iconFont-bit
			div.clickonero-infotext
				div.clickoneroWrapper
					div.wb-breadcrums
						div.wb-breadcrums-div
							span: a(href="#") Home
							span.iconFont-right3
							span Políticas de Privacidad
					h2 POLÍTICAS DE PRIVACIDAD
					p Group Buying Global of Mexico, S.A. de C.V. se compromete a asegurar la privacidad de la información personal obtenida a través de sus servicios en línea. No obstante, se sugiere leer la normativa descrita a continuación para entender el tratamiento de los datos proporcionados.
					p Si tiene alguna pregunta relacionada con esta Política de Privacidad, puede ponerse en contacto con nosotros a través de nuestro sitio web o escribirnos a la siguiente dirección:
					address
						p: a(href="http://www.clickonero.com.mx") clickonero.com.mx
						p Acueducto Río Hondo #30
						p Col. Lomas de Chapultepec II Sección, Miguel Hidalgo
						p C.P. 11000 México D.F.
						p Teléfono: 55-4160-1001
						p: a(href="maito:info@clickonero.com") info@clickonero.com 
					h4 Tipo de información
					p Se recopilará la información de diferentes formas y desde distintas áreas del sitio web <a href="http://www.clickonero.com.mx">www.clickonero.com.mx</a>
					p Se sujetarán a las normas de seguridad y privacidad todos aquellos datos personales que el usuario ingrese voluntariamente en dicha dirección electrónica.
					p Se solicitará información como:
					ul 
						li Nombre (s) y apellidos
						li Correo electrónico
						li Teléfono
						li Datos fiscales para elaboración de facturas
						li La información solicitada permitirá contactar a los clientes cuando sea necesario. Los usuarios podrán ser contactados por teléfono o correo electrónico en caso de que se requieran datos adicionales para completar alguna transacción o entrega de producto adquirido.
					h4 Uso
					p La información suministrada durante el proceso de registro, inscripción a algún programa y promociones se emplea para la Generación de Base de datos para poder prestar el servicio de compraventa de productos, servicios y/o viajes a través de cupones, así como el envío y transmisión a terceros de información y publicidad relativa a dichos servicios, así como realizar estudios internos sobre los datos demográficos, intereses y comportamiento de los usuarios con la finalidad de proporcionarles productos, servicios, contenidos y publicidad acordes a sus necesidades.
					h4 Protección
					p La seguridad y la confidencialidad de los datos que los usuarios proporcionen al contratar un servicio o comprar un producto en línea estarán protegidos por un servidor seguro bajo el protocolo Secure Socket Layer (SSL), de tal forma que los datos enviados se transmitirán encriptados para asegurar su resguardo.
					p Para verificar que se encuentra en un entorno protegido asegúrese de que aparezca una S en la barra de navegación. Ejemplo: httpS://
					p Sin embargo, y a pesar de contar cada día con herramientas más seguras, la protección de los datos enviados a través de Internet no se puede garantizar al 100%; por lo que una vez recibidos, se hará todo lo posible por salvaguardar la información.
					h4 Cookies
					p Las cookies son pequeñas piezas de información que son enviadas por el sitio web al navegador.
					p Se almacenan en el disco duro de los equipos y utilizan para determinar las preferencias de los usuarios que acceden al portal electrónico www.clickonero.com.mx, así como para rastrear determinados comportamientos o actividades.
					p Las cookies permiten reconocer a los usuarios, detectar el ancho de banda que han seleccionado, identificar la información más destacada, calcular el tamaño de la audiencia y medir algunos parámetros de tráfico.
					h4 Confidencialidad
					p Cuando el usuario se encuentre en el sitio web (www.clickonero.com.mx), compartirá su información con Group Buying Global of Mexico, S.A. de C.V., salvo que se especifique lo contrario. Group Buying Global of Mexico, S.A. de C.V. tiene las obligaciones que se mencionan enseguida con respecto a la información que el usuario proporcione por cualquier medio, lo anterior con base en los términos establecidos en el artículo 109 de la Ley Federal del Derecho de Autor y del artículo 76 bis, fracción I, de la Ley Federal de Protección al Consumidor y la Ley Federal de Protección de Datos Personales en Posesión de los Particulares para lo cual se agrega a continuación el Aviso de Privacidad estipulado en este último ordenamiento AVISO DE PRIVACIDAD.
					h4 AVISO DE PRIVACIDAD
					p De conformidad con lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la Ley) se le comunica que el Responsable del manejo de la información que nos ha proporcionado es Group Buying Global of México, S.A. de C.V., con domicilio en Acueducto Rio Hondo 30, Lomas De Chapultepec II Sección, Miguel Hidalgo, C.P. 11000, México D.F., y que se ha designado a Esther Hernandez para cualquier asunto relacionado a dicha información y que la finalidad de la misma es para Generación de Base de datos para poder prestar el servicio de compraventa de productos, servicios y/o viajes a través de cupones, así como el envío y transmisión a terceros de información y publicidad relativa a dichos servicios así como realizar estudios internos sobre los datos demográficos, intereses y comportamiento de los usuarios con la finalidad de proporcionarles productos, servicios, contenidos y publicidad acordes a sus necesidades. Mediante el envío de este formulario los Usuarios Registrados otorgan el consentimiento a que sus datos incluidos sean tratados para la finalidad anteriormente mencionada.
					p Usted puede en cualquier momento limitar el uso, divulgación y/o transmisión de los datos que ha proporcionado y ejercer los derechos que le otorga la Ley con relación a los mismos comunicándose por cualquier medio con nosotros. A fin de que estemos en posibilidad de atenderle conforme lo establecido en la Ley, agradeceremos nos proporcione su domicilio y/o correo electrónico.
					p Atentamente,
					p Group Buying Global of Mexico, S.A. de C.V.
					p Por: 
					p El que suscribe, hago constar que al generar cualquier orden de servicio de Group Buying Global of Mexico, S.A. de C.V., recibí el Aviso de Privacidad a que se refiere la Ley y otorgo mi consentimiento para que los datos que he proporcionado y que constan en la presente sean utilizados, tratados y/o transmitidos por Group Buying Global of Mexico, S.A. de C.V., en los términos de dicho aviso. Asimismo, les manifiesto que cualquier aviso y/o notificación que deba realizarse en los términos del ordenamiento antes mencionado deberá hacerse en la dirección y/o en el correo electrónico que se indica al calce, de tal forma que al proporcionar mi dirección y/o correo electrónico se haga constar mi consentimiento antes mencionado.
					p Los Datos serán tratados de conformidad con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento. La confidencialidad de los Datos está garantizada y los mismos están protegidos por medidas de seguridad administrativas, técnicas y físicas, para evitar su daño, pérdida, alteración, destrucción, uso, acceso o divulgación indebida. Únicamente las personas autorizadas tendrán acceso a sus Datos.
					p En caso de existir alguna modificación al presente Aviso de Privacidad se hará de su conocimiento en <a href="http://www.clickonero.com.mx/politicas.html" target="_blank">http://www.clickonero.com.mx/politicas.html</a>
					h4 Modificación y actualización
					p Los datos personales proporcionados por el usuario formarán parte de un archivo que contendrá su perfil, el cual podrá ser modificado por el titular en cualquier momento utilizando los números de usuario/socio y de identificación personal asignados que también pueden ser modificados vía telefónica o por correo electrónico.
					p Puede el usuario acceder a "Mi Cuenta" y luego "Mis Datos" para consultar y controlar la información almacenada en su cuenta de clickOnero.
					p Se aconseja al usuario actualizar sus datos periódicamente.
					p Asimismo, si participa en promociones vía correo electrónico podrá en cualquier momento desactivar este servicio.
					h4 Cancelación de suscripción
					p En cualquier momento el usuario puede solicitar su baja de la lista de correos a info@clickonero.com
					h4 Confidencialidad (menores de edad)
					p La salvaguarda de la información infantil es extremadamente importante, por lo que serán mínimos los datos solicitados para brindar los servicios que se le proporcione a este sector. Se recomienda a los padres y tutores que asesoren a los menores de edad al momento de navegar por Internet y que aprueben el envío de cualquier tipo de información personal.
					h4 Modificaciones en las políticas de privacidad
					p Group Buying Global of Mexico, S.A. de C.V. se reserva el derecho de efectuar en cualquier momento, modificaciones en las presentes políticas de privacidad y adaptarlas a novedades legislativas, jurisprudenciales, así como a prácticas del mercado. Queda bajo responsabilidad del usuario leer periódicamente las políticas de privacidad para estar al tanto de dichas modificaciones, las cuales al ser introducidas en el sitio web entrarán automáticamente en vigor.
					h4 PROTECCIÓN DE DATOS PERSONALES
					p Los Usuarios Registrados, Usuarios Subscriptores y Visitantes se comprometen a navegar por el Sitio Web y a utilizar el contenido de buena fe.
					p En cumplimiento de lo establecido en la Ley Federal de Protección al Consumidor artículo 76 bis, fracción I y la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, publicada en el Diario Oficial de la Federación el 5 de julio de 2010 (en adelante la "LFPDP"), Group Buying Global of México, S.A. de C.V. en adelante identificada como "GBGM" informa que la cumplimentación de cualquier formulario existente en el Sitio www.clickonero.com.mx o mediante emisión de un correo electrónico a info@clickonero.com
					ol
						li Serán tratados con la máxima confidencialidad y formarán parte de los ficheros titularidad de Group Buying Global of Mexico, S.A. de C.V. en adelante "GBGM" con domicilio en Acueducto Rio Hondo 30, Lomas De Chapultepec II Sección, Miguel Hidalgo, Distrito Federal, 11000, para su gestión y para dar respuesta a los mismos, así como, para la intermediación comercial que nos vincule.
						li Implica la aceptación de esta política de privacidad, así como la autorización a "GBGM" para que trate los datos personales que nos facilite.
					p "GBGM" presume que los datos han sido introducidos por su titular o por persona autorizada por éste, así como que son correctos y exactos. Por lo tanto, en caso de que el titular de los datos personales advierta que sus datos han sido introducidos sin su consentimiento o por una persona no autorizada por él, deberá informar a la brevedad a "GBGM" a través de la dirección info@clickonero.com para que "GBGM" realice las gestiones pertinentes.
					p Conforme a la legislación vigente en materia de protección de datos, "GBGM" ha adoptado los niveles de seguridad adecuados a los datos facilitados por los Usuarios Registrados, Usuarios Subscriptores y Visitantes y, además, ha instalado todos los medios y medidas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y extracción de los mismos.
					p De conformidad con el aviso de privacidad antes mencionado, igualmente "GBGM" informa que los Usuarios Registrados tienen la potestad para ejercitar sus derechos de acceso, rectificación y cancelación en el ámbito reconocido por la LFPDP contactando con "GBGM" a través de correo postal señalado anteriormente. y/o enviando un correo electrónico a la dirección info@clickonero.com
					p Al hacer uso de nuestros servicios, los Usuarios Registrados, los Usuarios Subscriptores y/o los Visitantes otorgan el consentimiento al tratamiento de sus datos para la finalidad anteriormente expresada e igualmente "GBGM" informa que los Usuarios Registrados, los Usuarios Subscriptores y/o los Visitantes que tienen la potestad para ejercitar sus derechos de acceso, rectificación y cancelación en el ámbito reconocido por la LFPDP contactando con "GBGM" a través de correo postal en clickOnero.com.mx Acueducto Río Hondo #30, Col. Lomas de Chapultepec II Sección, Miguel Hidalgo, C.P. 11000 México D.F. info@clickonero.com
					p En cualquier momento y conforme establece la citada LFPDP, corresponde a los Usuarios Registrados y Usuarios Subscriptores la actualización de sus propios datos, el derecho de acceso, rectificación, cancelación y oposición a todos sus datos personales mediante petición escrita dirigida al responsable de atención al cliente, remitiendo su solicitud a la dirección de correo electrónico info@clickonero.com o al Departamento de Atención al Cliente de Acueducto Rio Hondo 30, Lomas De Chapultepec II sección, Miguel Hidalgo, Distrito Federal, 11000, para lo cual será necesario que acredite su identidad mediante el envío de fotocopia de alguna identificación oficial (Credencial de Elector emitida por el Instituto Federal Electoral, pasaporte vigente, etc.), o cualquier otra identificación legalmente reconocida. Los Usuarios Registrados, Usuarios Suscriptores y Visitantes se comprometen a navegar por el Sitio y a utilizar el contenido de buena fe.
			+footerAddress
		include scaffolding/footer.jade
		script.
			(function(){
				DocumentReady();
			})();