doctype html
html(lang="es", class="clickoneroVertical")
	include scaffolding/head.jade
	body
		div.clickoneroPreloader: p
		header: div#winbits-widget
		main.clickoneroMain.widgetWinbitsMain
			div.clickoneroMainHeader
				div.clickoneroHeader
					div.clickoneroLogoLink
						a(href="#")
							span.iconFont-o
							span.iconFont-clicknero
					div.clickoneroMainSearch
						input(type="text", placeholder="¿Qué estas buscando?")
						span.iconFont-lupa
					div.clickoneroSecundaryNav
						ul
							li 4160-0550
							li: a(href="mailto:info@winbits.com") info@winbits.com 
						p: a.clickoneroBtn(href="#") Contesta y gana
							span.iconFont-bit
			div.clickonero-infotext
				div.clickoneroWrapper
					div.wb-breadcrums
						div.wb-breadcrums-div
							span: a(href="#") Home
							span.iconFont-right3
							span Términos y Condiciones de Uso
					h2 TÉRMINOS Y CONDICIONES DE USO
					p clickOnero pone a disposición del público en general el uso de su sitio web, <a href="http://www.clickonero.com.mx">www.clickonero.com.mx</a> , cuya utilización estará sujeta en todo momento a los presentes términos y condiciones de uso.
					p La sola utilización del Sitio atribuye al público en general la condición de usuario (en lo sucesivo el "Usuario" o los "Usuarios") e implica la aceptación, plena e incondicional, de todas y cada una de las condiciones generales y particulares incluidas en estos Términos y Condiciones en el momento mismo en que el Usuario acceda al Sitio. Este instrumento describe precisamente los términos y condiciones generales aplicables al uso de los servicios ofrecidos por clickOnero consistentes el uso de servicios de intermediación y promoción de negocios, a través de la compra de cupones para la obtención de ofertas o promociones de sus servicios y/o productos ofrecidos por un tercero a través del Sitio, así como también cualquier documentación en línea o electrónica relacionada con dichos servicios.
					p Cualquier trasgresión a estos Términos y Condiciones por parte de un Usuario (incluyendo pero no limitándose a la comisión de actos que, a criterio exclusivo de clickOnero, constituyan conductas abusivas, inapropiadas o ilícitas) generarán el derecho en favor de clickOnero de, en cualquier momento y sin necesidad de notificación previa de ningún tipo, suspender o terminar la prestación de los Servicios y/o de retirarle o denegarle el acceso al Sitio al Usuario trasgresor.
					p El Sitio puede ser utilizado únicamente con fines lícitos. El contenido, información y/o material que clickOnero pone al alcance de los Usuarios a través de este Sitio contiene elementos amparados por normas de propiedad intelectual, incluyendo protección del software, fotografías, logos, diseños, imágenes gráficas, música y sonido, sin que esta descripción implique limitación de naturaleza alguna.
					p Se encuentra terminantemente prohibido cualquier tipo de copia, distribución, transmisión, retransmisión, publicación, impresión, difusión y/o explotación comercial del material y/o contenido puesto a disposición del público a través de este Sitio, sin el previo consentimiento expreso y por escrito de clickOnero o, en su caso, del titular de los derechos de propiedad correspondientes. El incumplimiento de lo aquí mencionado sujetará al infractor a todos los reclamos civiles y sanciones penales que pudieran corresponder. Asimismo, se encuentra prohibida la publicación y/o distribución de cualquier material que resulte obsceno, inapropiado, difamatorio o que pudiera resultar violatorio de los derechos de cualquier tercero o resulte contrario a las políticas generales de clickOnero y/o al ordenamiento jurídico vigente.
					p LOS PADRES O TUTORES DE MENORES DE EDAD SERÁN RESPONSABLES POR LOS ACTOS POR ELLOS REALIZADOS SEGÚN LO DISPUESTO POR ESTOS TÉRMINOS Y CONDICIONES, INCLUYENDO LOS DAÑOS CAUSADOS A TERCEROS, ACCIONES REALIZADAS POR ELLOS Y QUE ESTÉN PROHIBIDAS POR LEY Y POR LAS DISPOSICIONES DE ESTE ACUERDO, SIN PERJUICIO DE LA RESPONSABILIDAD DEL USUARIO, SIEMPRE QUE ÉSTE NO FUESE PADRE O REPRESENTANTE LEGAL DEL MENOR INFRACTOR.
					h4 Aviso Importante
					p El Usuario está consciente de que el tráfico de datos que proporciona acceso al Sitio es apoyado por un servicio prestado por la operadora de servicios de telecomunicaciones seleccionada y contratada por el Usuario y que dicha contratación es totalmente independiente del Sitio. El Usuario reconoce, sin embargo, que las comisiones cobradas por la operadora de servicios de telecomunicaciones (WAP, GPRS) de su elección y los impuestos aplicables pueden afectar el tráfico de datos necesarios para eventuales descargas y anuncios de un tercero en el dispositivo.
					p
						strong 1. Servicio.
						| Servicio. clickOnero brinda un servicio interactivo de intermediación de servicios y/o productos de terceros, por medio de la publicación de ofertas y promociones en el Sitio, observadas ciertas condiciones, por medio de la compra de cupones.
					ul
						li 
							p clickOnero, en este acto, concede al Usuario una licencia personal limitada, no exclusiva, no transferible, revocable, por plazo indeterminado, conforme a estos Términos y Condiciones, para utilizar el Sitio, a fin de avalar, manifestar o interesarse en adquirir y finalmente adquirir las Promociones. La forma de utilizar el Sitio es personal e intransferible. Para fines de inscripción, el Usuario proporcionará a clickOnero la información necesaria para dicha inscripción y creará un nombre de Usuario (login) y una contraseña (password).
							p El Usuario reconoce que la información proporcionada sobre sí mismo es verdadera, correcta, actual y completa, responsabilizándose civil y penalmente de dicha información. En caso dado de que la información del Usuario al momento de la inscripción estuviese equivocada o incompleta, siendo que se imposibilite la comprobación e identificación del Usuario, clickOnero tendrá el derecho de suspender inmediatamente la prestación de los Servicios por medio del Sitio, sin necesidad de previo aviso, responsabilizándose en todo momento el Usuario por las pérdidas y daños finalmente sufridos.
							p La veracidad y autenticidad de los datos proporcionados por los Usuarios es requisito esencial para el mantenimiento del registro. Sólo se permitirá el registro de mayores de 18 (dieciocho) años. clickOnero se reserva el derecho de solicitar algún comprobante y/o dato adicional a efecto de corroborar los datos personales de cada Usuario, así como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos no hayan podido ser confirmados.
						li 
							p El Usuario es responsable de la protección de la confidencialidad de su contraseña personal. El Usuario autoriza expresamente a clickOnero a mantener en su registro las informaciones proporcionadas por el Usuario, también autoriza a clickOnero a proporcionar información constante sobre el referido registro a (i) autoridades que lo solicitaren conforme lo permitido por la legislación en vigor y (ii) a sus asociados estratégicos, comerciales o técnicos con la finalidad de ofrecer mejores condiciones de Promociones y/o contenidos del Usuario. Además, el Usuario permite expresamente a clickOnero recopilar información para la realización de seguimiento de tráfico, con intención de identificar grupos y perfiles de usuarios, así como para fines de orientación publicitaria. Asimismo, el Usuario reconoce desde éste momento, que la cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario inscriba o posea más de una cuenta.
							p En caso que clickOnero detecte distintas cuentas que contengan datos coincidentes o relacionados, podrá cancelar, suspender o inhabilitarlas. El Usuario será responsable por todas las operaciones efectuadas en su cuenta, pues el acceso a la misma está restringido al ingreso y uso de su contraseña personal, de conocimiento exclusivo del Usuario.
						li 
							p Sin perjuicio de lo dispuesto anteriormente, no se aceptarán y podrán ser cancelados en cualquier momento, direcciones de correo electrónico (e-mails) que contengan expresiones o conjuntos gráficos-denominativos que ya hayan sido escogidos anteriormente por otro usuario o, que de alguna otra forma, fuesen injuriosos, altisonantes, coincidentes con marcas, nombres comerciales, anuncios de establecimientos, razones sociales de empresas, expresiones publicitarias, nombres y seudónimos de personas de relevancia pública, famosos o registrados por terceros, cuyo uso no esté autorizado o que fuese en general, contrario a la ley o a las exigencias morales y de buenas costumbres generalmente aceptadas, así como expresiones que pudieran inducir a otras personas por error, quedando claro que el Usuario responderá por el uso indebido tanto en el ámbito civil como penal, si aplicase.
						li 
							p El Usuario se compromete a comunicar a clickOnero por medio del servicio de atención al cliente (en lo sucesivo "SAO"), del extravío, pérdida, hurto o robo de las contraseñas de acceso, inmediatamente después de tener conocimiento del hecho. Hasta el momento en que se comunicase efectivamente a clickOnero del extravío, pérdida, hurto o robo de la contraseña de acceso, el Usuario será el único responsable de los daños y perjuicios resultantes de su eventual utilización por terceros, no teniendo clickOnero ninguna responsabilidad por eventuales daños producto de tales hechos.
					p 
						strong 2. Continuidad de los Servicios. 
						| El Usuario reconoce que podrían presentarse (i) interrupciones en la prestación de los Servicios o, incluso, (ii) otros hechos ocurridos por causas fuera de control de clickOnero. clickOnero no podrá ser responsabilizada de cualesquiera datos perdidos durante la transmisión de información por medio de Internet.
					p clickOnero está exento de cualquier responsabilidad que ocurra por interrupciones o suspensiones del servicio de acceso a Internet ocasionadas por la falla en el sistema de telecomunicaciones, en el suministro de energía eléctrica, casos fortuitos o de fuerza mayor o una acción de terceros que puedan inhabilitar los equipos que suministran el acceso a la red.
					p Por lo anterior, clickOnero no se responsabiliza por cualquier daño, perjuicio o pérdida al Usuario causados por fallas en el sistema, en el servidor o en Internet. clickOnero tampoco será responsable por cualquier virus que pudiera infectar el equipo del Usuario como consecuencia del acceso, uso o examen del Sitio o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo. Los Usuarios NO podrán imputarle responsabilidad alguna ni exigir pago de daños o perjuicios, en virtud de dificultades técnicas o fallas en los sistemas o en Internet. clickOnero no garantiza el acceso y uso continuado o ininterrumpido del Sitio.
					p El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia ajena a clickOnero; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad. ClickOnero no será responsable por ningún error u omisión contenidos en el Sitio.
					ul
						li clickOnero podrá, en cualquier momento y a su exclusivo criterio, descontinuar, suspender, terminar o alterar la forma de acceso a Sitio con relación a cualquier contenido, periodo de disponibilidad y equipamiento necesarios para el acceso y/o utilización del Sitio. clickOnero se reserva el derecho de descontinuar la diseminación de cualquier información, alterar o eliminar métodos de transmisión, alterar la velocidad de transmisión de datos o cualesquiera otras características de señal.
					p
						strong 3. Equipamiento para la Utilización del Sitio y Capacitación Técnica. 
						| El Usuario será el único responsable de realizar el mantenimiento de aparatos telefónicos, computadoras y cualesquiera otros equipos que pudieran ser necesarios para el perfecto acceso al uso del Sitio. El Usuario será el único responsable de eventuales daños que su equipo pudiera sufrir debido al mal uso de cualquier hardware, software o conexiones.
					p
						strong 4. Características Individuales de los Servicios. 
						| Al utilizar el Sitio, el Usuario estará sujeto a cualesquiera otras directrices o reglas aplicables a los servicios disponibles que pudieran ser informadas, ocasionalmente, las cuales serán incorporadas automáticamente por referencia a estos Términos y Condiciones.
					p El Usuario está consciente de que algunas Promociones podrían estar sujetas a determinadas condiciones para que se tornen ejecutables (por ejemplo, que determinado número de Usuarios manifestase su interés en adquirir un Cupón referente a dicha Promoción). clickOnero no será responsable de la verificación de una condición necesaria para la efectividad de la Promoción, asimismo por la calidad de los servicios y/o productos objetos de las Promociones vinculadas a la solicitud de algún tercero.
					ul
						li clickOnero, una vez verificada la condición necesaria para la adquisición de cualquier Cupón por parte del Usuario, podrá entregar el Cupón directamente al Usuario, sin necesidad de cualquier autorización adicional o aviso previo.
						li Una vez adquirido el Cupón por medio del Sitio, el Usuario no podrá cambiar el Cupón y clickOnero no hará cambio ni devolución alguna al respecto. De la misma forma, el Usuario está consciente de que determinados Cupones solamente podrán ser utilizados durante un plazo determinado o en días y horarios específicos.
					p
						strong 5. Modificaciones. 
						| clickOnero se reserva el derecho de, a su exclusivo criterio, efectuar alteraciones al presente documento sin necesidad de previo aviso. De esta forma, es recomendable que el Usuario vuelva a leer con regularidad este documento, de forma que se mantenga siempre informado sobre eventuales modificaciones.
					ul
						li Si hubiese cualquier modificación al presente documento y el Usuario continuara utilizando el Sitio, el Contrato será considerado leído y aprobado por el Usuario. Todas las alteraciones al Contrato se volverán efectivas inmediatamente después de su publicación en el Sitio, sin necesidad de cualquier aviso previo al Usuario.
					p 
						strong 6. Propiedad y Derechos del Contenido del Sitio. 
						| A los Usuarios se les advierte que tales derechos están protegidos por la legislación vigente mexicana e internacional relativa a la propiedad intelectual e industrial, todo el contenido disponible en el Sitio, incluyendo los Micrositios (según se definen más adelante), son propiedad exclusiva de clickOnero. Queda prohibida la copia, distribución, transmisión, publicación, conexión o cualquier otro tipo de modificación del Sitio o de los Micrositios sin expresa autorización de clickOnero.
					ul
						li Cualquier violación a lo dispuesto en éste numeral constituirá una infracción a los derechos de propiedad intelectual y sujetará al Usuario a las sanciones administrativas, civiles y penales que resulten aplicables.
						li clickOnero se reserva todos los derechos no expresamente otorgados bajo el presente documento. El Usuario declara y reconoce que el download de cualquier contenido del Sitio no le confiere la propiedad sobre cualesquiera marcas exhibidas en el Sitio.
						li Cualesquiera marcas exhibidas en el Sitio o cualquier otro sitio operado en conjunto con clickOnero no deben ser consideradas como de dominio público y son de propiedad exclusiva de los terceros contratantes de clickOnero.
						li El Usuario no deberá hacer upload, publicar o de cualquier otra forma disponer en el Sitio de cualquier material protegido por derechos de autor, registro de marcas o cualquier otro derecho de propiedad intelectual sin previa y expresa autorización del titular del mencionado derecho.
						li clickOnero no tiene el deber o la responsabilidad de proporcionar al Usuario cualesquiera indicaciones que auxilien a la identificación del contenido como protegido por derechos de propiedad intelectual. El Usuario será el único responsable de cualesquiera daños a terceros que resultaren de la violación de derechos de propiedad intelectual, en virtud de la utilización del mencionado contenido.
					p 
						strong 7. Acceso y uso del Sitio. 
						| Tanto el Sitio como cualesquiera otros Sitios de cualquier otra forma disponibles en el Sitio (en lo sucesivo los "Micrositios") son propiedad privada y cualesquiera interacciones deben realizarse de acuerdo con el presente documento. Sin perjuicio de las demás obligaciones del Usuario establecidas según se establece en éstos Términos y Condiciones, el Usuario se obliga a (i) no utilizar los contenidos y productos del Sitio con la finalidad de faltar a la ley, la moral, las buenas costumbres, las reglas y derechos de propiedad intelectual, la dignidad, la vida privada, la imagen, la intimidad personal y familiar; (ii) observar los más elevados patrones éticos y morales vigentes en Internet y las leyes nacionales e internacionales aplicables: (iii) no utilizar los Servicios, contenidos y productos proporcionados conforme a éstos Términos y Condiciones para transmitir o divulgar material ilegal, difamatorio, que viole, o sea abusivo, amenazador, obsceno, perjudicial, vulgar, injurioso o de cualquier otra forma censurable; (iv) no enviar mensajes que no hubiesen sido solicitados, reconocidos como spam, junk mail o cadenas de correspondencia (chain letters); no utilizar los Servicios contenidos y los productos proporcionados conforme éstos Términos y Condiciones para enviar/divulgar cualquier tipo de virus o archivos que contengan cualquier tipo de virus o que pudiesen causar daños a su destinatario o a terceros; (v) cumplir con todas las leyes aplicables con relación a la transmisión de datos desde México o del territorio en que el Usuario resida; (vi) no obtener o intentar obtener acceso a otros sistemas de redes o de computadoras conectados a los contenidos y productos del Sitio; (vii) responsabilizarse íntegramente del contenido de los correos electrónicos que se van a retransmitir así como del contenido e información que se pusieran a disposición en las Promociones del Sitio; (viii) no interferir o interrumpir los Servicios o los servidores o redes conectados a los Servicios, contenidos y productos abastecidos por medio del Sitio o de los Micrositios; y (ix) cumplir con los procedimientos, normas y reglamentos aplicables a los contenidos y productos del Sitio, divulgados en las páginas y enlaces de cada contenido de los Micrositios.
					ul
						li 
							p Además de lo dispuesto en el inciso anterior, el Usuario no deberá enviar o transmitir por medio del Sitio cualquier contenido o información que contenga cualquier propaganda o propuesta relacionada con cualesquiera productos y/o servicios.
							p El Usuario no podrá divulgar o hacer cualquier oferta comercial, religiosa, política o cualquier otra oferta incluso sin fines comerciales, incluyendo pero sin limitar las ofertas a los Usuarios para que se conviertan en Usuarios de otros servicios que de cualquier manera pudiesen competir con los Servicios prestados por clickOnero.
						li
							p Cualquier conducta del Usuario que, a criterio exclusivo de clickOnero, pudiera restringir o inhibir el uso del Sitio o de los Micrositios por otros Usuarios o terceros queda expresamente prohibida.
					p 
						strong 8. Precio y pago por los Servicios. 
						| En la actualidad, la oferta de contenidos y productos en el Sitio se hace en favor del Usuario sin el pago de la remuneración a clickOnero, quien realizará únicamente la intermediación de las operaciones de compra y venta de los Cupones relacionados con las Promociones ofrecidas al Usuario por terceros que contratan a clickOnero para tales efectos.
					p 
						strong 9. Privacidad de la información. 
						| GBGM tomará todas las medidas posibles para mantener la confidencialidad y la seguridad descritas en esta cláusula, pero no responderá por los daños o perjuicios que pudieran derivarse de la violación de esas medidas por parte de terceros que utilicen las redes públicas o el Internet, alterando los sistemas de seguridad para obtener acceso a la información de los Usuarios.
					p Asimismo, te invitamos a leer y conocer nuestra política de privacidad conforme lo establece la Ley Federal de Protección de Datos Personales, que aplica a los Usuarios Registrados y Usuarios Subscriptores para la actualización de sus propios datos, el derecho de acceso, rectificación, cancelación y oposición a todos sus datos personales incluidos en los distintos formularios.
					p
						strong 10. Aceptación del recibimiento de mensajes. 
						| El Usuario acepta expresamente que clickOnero o cualquiera de sus asociados envíen al Usuario mensajes por correo electrónico o SMS de carácter informativo, referentes a Promociones disponibles en el Sitio, así como otros mensajes de naturaleza comercial tales como ofertas de terceros contratantes de clickOnero y novedades del Sitio. En caso de que el Usuario desease dejar de recibir los mencionados mensajes deberá solicitar la cancelación de su envío en el propio Sitio.
					p
						strong 11. Exenciones; Garantía.
						| LOS SERVICIOS O APLICACIONES DE TERCEROS QUE ESTÁN DISPONIBLES EN CONJUNTO POR MEDIO DEL SITIO, SON PROPORCIONADOS "TAL Y COMO ESTÁN" Y "CONFORME ESTÉN DISPONIBLES" SIN GARANTÍAS DE LAS CONDICIONES DE CUALQUIER TIPO, SEAN EXPRESAS O IMPLÍCITAS.
					p HASTA EL PUNTO MÁXIMO PERMITIBLE DE CONFORMIDAD CON LA LEGISLACIÓN APLICABLE, CLICKONERO, SUS PROVEEDORES, TERCEROS CONTRATANTES DE CLICKONERO Y DEMÁS ASOCIADOS, QUEDAN EXIMIDOS DE TODAS LAS GARANTÍAS Y CONDICIONES, EXPRESAS O IMPLÍCITAS, INCLUSIVE GARANTÍAS IMPLÍCITAS Y CONDICIONES DE COMERCIALIZACIÓN ADECUADAS PARA UN DETERMINADO OBJETIVO Y NO EN VIOLACIÓN DE DERECHOS DE PROPIEDAD.
					ul
						li 
							p CLICKONERO, SUS PROVEEDORES, TERCEROS LICITANTES Y DEMÁS ASOCIADOS NO GARANTIZAN QUE LOS SERVICIOS OFRECIDOS EN EL SITIO SEAN ININTERRUMPIDOS O ESTÉN LIBRES DE ERRORES, QUE LOS DEFECTOS SEAN CORREGIDOS, O QUE LOS SERVICIOS O EL SERVIDOR QUE LOS PONE A DISPOSICIÓN ESTÉ LIBRE DE VIRUS O DE OTROS COMPONENTES PERJUDICIALES.
						li 
							p CLICKONERO, SUS PROVEEDORES, TERCEROS CONTRATANTES DE CLICKONERO Y DEMÁS ASOCIADOS NO GARANTIZAN NI HACEN CUALESQUIERA DECLARACIONES RELATIVAS AL USO O A LOS RESULTADOS DE LA UTILIZACIÓN DE LOS SERVICIOS Y DEL SITIO EN TÉRMINOS DE EXACTITUD, PRECISIÓN, CONFIABILIDAD O DE CUALQUIER OTRA FORMA. EL USUARIO ASUME TODO EL COSTO DE CUALQUIER SERVICIO NECESARIO, ARREGLOS O CORRECCIONES.
							p EL USUARIO COMPRENDE Y ESTÁ DE ACUERDO EN QUE ENTRARÁ AL SITIO Y UTILIZARÁ EL SITIO DE CONFORMIDAD CON SU CRITERIO EXCLUSIVO Y BAJO SU PROPIO RIESGO Y QUE SERÁ EL ÚNICO RESPONSABLE DE CUALESQUIERA DAÑOS CAUSADOS A SU SISTEMA DE COMPUTACION O A SU DISPOSITIVO MÓVIL O PÉRDIDA DE DATOS RESULTANTE DE LA UTILIZACIÓN DE LOS SERVICIOS O DEL DOWNLOAD DE MATERIALES O DATOS CONTENIDOS EN EL SITIO O MICROSITIOS.
					p
						strong 12. Límites de Responsabilidad.
						| BAJO NINGUNA CIRCUNSTANCIA, CLICKONERO O SUS AFILIADAS CONTRATADAS, FUNCIONARIOS, AGENTES U OTROS ASOCIADOS, TERCEROS LICITANTES O PROVEEDORES SERÁN RESPONSABLES DE CUALESQUIERA PÉRDIDAS, DAÑOS O PERJUICIOS SUFRIDOS POR EL USUARIO O CUALQUIER TERCERO COMO RESULTADO DE SU USO, DE MATERIALES DISPONIBLES EN EL SITIO O CUALQUIER OTRA INTERACCIÓN CON EL SITIO O CLICKONERO.
					p CLICKONERO TAMPOCO SE RESPONSABILIZA, EN NINGUNA CASO, POR FRAUDES ORIGINADOS FUERA O A TRAVÉS DE SU SISTEMA Y DE SUS COMPUTADORAS, PRINCIPALMENTE EN RELACIÓN A INFORMACIONES PROPORCIONADAS, SEA EN EL REGISTRO O EN EL SISTEMA.
					p BAJO NINGUNA CIRCUNSTANCIA CLICKONERO, SUS EMPLEADOS, CONTRATANTES, DIRECTORES O AGENTES SERÁN RESPONSABLES DE CUALQUIER DAÑO, YA SEA DIRECTO O INDIRECTO, QUE RESULTE DEL USO, O USO INAPROPIADO DEL SITIO, INCLUYENDO PERO NO LIMITÁNDOSE AL USO DEL CONTENIDO Y/O SERVICIOS OFRECIDOS A TRAVÉS DEL SITIO.
					ul
						li ESTAS LIMITACIONES TAMBIÉN SE APLICARÁN CON RESPECTO A LAS PÉRDIDAS, DAÑOS Y PERJUICIOS SUFRIDOS POR EL USUARIO O CUALQUIER TERCERO EN RELACIÓN CON CUALESQUIERA PRODUCTOS, SERVICIOS, OFERTAS O PROMOCIONES VENDIDAS O ABASTECIDAS POR TERCEROS, Y NO POR CLICKONERO, DIVULGADOS LOS ANUNCIOS O MATERIALES PUBLICITARIOS ENCONTRADOS EN EL SITIO.
						li BAJO NINGUNA CIRCUNSTANCIA, CLICKONERO SERÁ RESPONSABLE DE LA CALIDAD, PUNTUALIDAD O EXACTITUD DE LOS SERVICIOS PRESTADOS Y/O DE LOS PRODUCTOS OFERTADOS POR SUS PROVEEDORES, TERCEROS Y DEMÁS ASOCIADOS, Y ANUNCIADOS EN EL SITIO.
					p
						strong 13. Base del negocio. Base del negocio.
						| El Usuario está de acuerdo en que las exclusiones de garantía y limitaciones de responsabilidad establecidas con anterioridad son elementos fundamentales de la base de estos Términos y Condiciones.
					ul
						li El Usuario está de acuerdo, además, en que clickOnero no podría prestar los Servicios y/o abastecer los productos disponibles en el Sitio con una base económicamente razonable sin esas limitaciones.
						li El Usuario reconoce y está de acuerdo en que las exclusiones de garantía y limitaciones de responsabilidad reflejen una asignación razonable y justa de riesgos entre el Usuario y clickOnero. La exclusión de garantía y las limitaciones de responsabilidad antes mencionadas se extienden para beneficio de todos los terceros contratantes de clickOnero.
					p
						strong 14. Indemnización.
						| clickOnero no será responsable del uso indebido o inapropiado del Sitio por el Usuario ni por cualesquiera pérdidas y daños sufridos por el Usuario o por cualquier tercero como consecuencia de su uso indebido o inapropiado.
					ul
						li El Usuario está de acuerdo en sacar en paz y a salvo a clickOnero, sus empresas afiliadas, sus proveedores, terceros contratantes y asociados por cualesquiera reclamaciones, procesos, acciones, así como cualesquiera otras responsabilidades (inclusive honorarios jurídicos) derivados de su uso o de la utilización indebida del Sitio, de la violación de éstos Términos y Condiciones, la violación de los derechos de cualquier otra persona o entidad, o cualquier violación de las declaraciones, garantías y acuerdos hechos aquí por el Usuario; así como indemnizarlos por los daños y perjuicios que correspondieren.
					p
						strong 15. Vigencia y Rescisión.
					ul
						li El plazo de vigencia de los presentes Términos y Condiciones es indefinido.
						li El Usuario podrá, en cualquier momento, cancelar el registro del Usuario por simple comunicación, solicitando al Sitio su exclusión del registro, sin perjuicio de las obligaciones asumidas hasta la fecha de su exclusión.
						li clickOnero podrá rescindir unilateralmente el presente instrumento, mediante previa notificación al Usuario, en el plazo de 1 (un) día.
						li La rescisión de los presentes Términos y Condiciones en recurrencia de lo dispuesto en los puntos 15.2 y 15.3 anteriormente no implicará en ningún caso para clickOnero que deber de indemnizar al Usuario.
					p
						strong 16. Disposiciones Finales.
					p Legislación Aplicable. Este Contrato estará regido y será interpretado de conformidad con las leyes de México.
					p Jurisdicción: Los presentes Términos y Condiciones de Uso se rigen en todos y cada uno de sus partes por las Leyes de la República Mexicana. Por su parte, clickOnero y el Usuario, con renuncia expresa a cualquier otro fuero, se someten a la jurisdicción de los tribunales competentes de la Ciudad de México.
					p Cesión. Este contrato y cualesquiera derechos y licencias otorgadas aquí, no podrán ser transferidos o cedidos por el Usuario pero clickOnero si estará en posibilidad de transferirlos o cederlos sin restricción alguna.
					p Encabezados. Las referencias a encabezados existentes en el presente Contrato son hechas únicamente con fines de referencia y no serán consideradas para limitar o afectar cualquiera de las disposiciones aquí contenidas.
					p Integridad del Contrato. El presente constituye el acuerdo integral entre el Usuario y clickOnero relacionado con el asunto aquí tratado y no podrá modificarse, salvo lo dispuesto en el presente Contrato.
			+footerAddress
		include scaffolding/footer.jade
		script.
			(function(){
				DocumentReady();
			})();